<div class="about-us" ng-controller="aboutUs">

  <article>
    <h3 class="title"
        ng-if="content.title"
        ng-bind="content.title"></h3>
    <p class="desc"
       ng-repeat="desc in content.desc"
       ng-bind="desc"></p>
  </article>

  <article>
    <h3 class="title"
        ng-if="history.title"
        ng-bind="history.title"></h3>
    <p class="desc"
       ng-repeat="desc in history.desc"
       ng-bind="desc"></p>
  </article>

  <article>
    <h3 class="title"
        ng-if="mission.title"
        ng-bind="mission.title"></h3>
    <p class="desc" ng-bind="mission.desc1"></p>

    <ul>
      <li ng-repeat="list in mission.list" ng-bind="list"></li>
    </ul>

    <p class="desc" ng-bind="mission.desc2"></p>
  </article>

</div>
