<form name="sleepScreeningTool"
      ng-controller="screeningTool"
      ng-submit="submitScreeningTool();" novalidate>

    <div class="group">
        <!-- FIRST NAME -->
        <div class="label">First Name</div>
        <input type="text" placeholder="First Name"
               name="firstName"
               ng-model="firstName"
               ng-pattern="pattern.name" required>
    </div>

    <div class="group">
        <!-- LAST NAME -->
        <div class="label">Last Name</div>
        <input type="text" placeholder="Last Name"
               name="lastName"
               ng-model="lastName"
               ng-pattern="pattern.name" required>
    </div>

    <div class="group">
        <!-- EMAIL -->
        <div class="label">Email</div>
        <input type="text" placeholder="Email"
               name="email"
               ng-model="screenedPatient.email"
               ng-pattern="pattern.email" required>
    </div>

    <div class="group">
        <!-- PHONE -->
        <div class="label">Phone</div>
        <input type="text" placeholder="Phone"
               name="phone"
               ng-model="screenedPatient.phoneNumber"
               ng-pattern="pattern.phone" required>
    </div>

    <div class="group">
        <!-- DATE OF BIRTH -->
        <div class="label">Date Of Birth</div>
        <div class="select month">
            <select name="month" ng-model="month">
                <option value="">Month</option>
                <option ng-repeat="month in months" ng-bind="month" ng-value="month"></option>
            </select>
        </div>
        <div class="select day">
            <select name="day" ng-model="day">
                <option value="">Day</option>
                <option ng-repeat="day in days" ng-bind="day" ng-value="day"></option>
            </select>
        </div>
        <div class="select year">
            <select name="year" ng-model="year">
                <option value="">Year</option>
                <option ng-repeat="year in years" ng-bind="year" ng-value="year"></option>
            </select>
        </div>
    </div>

    <div class="group">
        <!-- GENDER -->
        <div class="label">Gender</div>
        <div class="radio radio-ver">
            <label>
                <input type="radio" name="gender" ng-model="screenedPatient.gender" ng-value="'male'">
                <div></div><span>Male</span>
            </label>
        </div>
        <div class="radio radio-ver">
            <label>
                <input type="radio" name="gender" ng-model="screenedPatient.gender" ng-value="'female'">
                <div></div><span>Female</span>
            </label>
        </div>
    </div>

    <div class="group"><hr></div>

    <div class="group">
        <!-- HEIGHT -->
        <div class="label">What is your height?</div>
        <div class="group">
            <input class="left" type="text" placeholder="Height" ng-model="heightAmount">
            <div class="select right">
                <select ng-model="heightType">
                    <option ng-value="cm">cm</option>
                    <option ng-value="in">in</option>
                </select>
            </div>
        </div>
    </div>

    <div class="group">
        <!-- WEIGHT -->
        <div class="label">What is your weight?</div>
        <div class="group">
            <input class="left" type="text" placeholder="Weight" ng-model="weightAmount">
            <div class="select right">
                <select ng-model="weightType">
                    <option ng-value="kg">kg</option>
                    <option ng-value="lbs">lbs</option>
                </select>
            </div>
        </div>
    </div>

    <div class="group test-info">
        <!-- TEST INFO -->
        <span ng-bind="bmiAnswer"></span>
    </div>

    <div class="group btn-fluid">
        <!-- BUTTON -->
        <input type="button" value="Calculate BMI"
               ng-click="calculateBMI();">
    </div>

    <div class="group"><hr></div>


    <!-- Screening questions-->
    <div class="group" ng-repeat="question in questions">
        <div class="label">
            {{::question.label}}
        </div>
        <div class="radio radio-ver" ng-repeat="answer in question.answers">
            <label>
                <input type="radio" name="{{'radio'+$parent.$index}}" ng-model="patientAnswers[$parent.$index]" ng-value="answer" required>
                <div></div><span>{{::answer}}</span>
            </label>
        </div>
    </div>

    <div class="group"><hr></div>

    <div class="group test-info" ng-if="sleepScreeningTool.$invalid && sleepScreeningTool.$submitted">
        <!-- IF FORM INVALID -->
        <span>Please fill in the questionnaire!</span>
    </div>

    <div class="group btn-fluid">
        <!-- SUBMIT -->
        <input type="submit" value="submit">
    </div>

</form>
