<div class="testimonials" ng-controller="testimonials">

  <article ng-repeat="data in content">
    <p class="comment"
         ng-repeat="comment in data.comment"
         ng-bind="comment"></p>

    <p class="author">
      <span ng-bind="data.who + ', '"></span>
      <span ng-bind="data.place"></span>
    </p>
  </article>

</div>
