//
// For sticky footer
//

.wrapper-table
  +size($box: 100%)
  display: table

  > .content
    display: table-row
    height: 100%

//
// Container
//

.container
  +clearfix
  min-width: 320px
  margin: 0 auto

  .wrapper
    position: relative
    width: 100%

  @media (max-width: 999px)
    width: 100%
  @media (min-width: 1000px)
    width: 960px

//
// Show & Hide
//

.show-lg,
.show-md,
.show-inline-lg,
.show-inline-md
  display: none $gg

@media (max-width: 999px)
  .hide-md
    display: none $gg
  .show-md
    display: block $gg
  .show-inline-md
    display: inline-block $gg

@media (min-width: 1000px)
  .hide-lg
    display: none $gg
  .show-lg
    display: block $gg
  .show-inline-lg
    display: inline-block $gg

@import views-lp
@import views-ws
