.ws-page
  .wrapper
    +font
    padding: 20px
    text-align: center
    text-align-last: center

  aside,
  section
    +inline
    margin-bottom: -20px
    text-align: left
    text-align-last: left

    > *
      margin-bottom: 20px
      padding: 20px
      border-radius: 3px
      background: #fff
      box-shadow: 0 0 7px rgba(0, 0, 0, .05)

//
// Fluid
//

.ws-page.fluid aside
  @media (max-width: 767px)
    width: 100%
    margin-bottom: 0
  @media (min-width: 768px)
    width: 200px
    margin-right: 20px

.ws-page.fluid section
  @media (max-width: 767px)
    width: 100%
  @media (min-width: 768px)
    width: calc(100% - 220px)

//
// Fixed
//

.ws-page.fixed aside
  @media (max-width: 479px)
    width: 220px
    margin-bottom: 0
  @media (min-width: 480px)
    width: 200px
    margin-right: 20px

.ws-page.fixed section
  @media (max-width: 479px)
    width: 220px
  @media (min-width: 480px) and (max-width: 719px)
    width: 220px
  @media (min-width: 720px) and (max-width: 959px)
    width: 460px
  @media (min-width: 960px)
    width: 700px

//
// Links (aside)
//

.ws-page aside .links a
  +margin(bottom, 20px)
  +font(14px, 16px, 500)
  color: #fff
  text-align: center
  text-align-last: center
  text-transform: uppercase
  display: block
  padding: 10px 15px
  border-radius: 3px
  background: $pri1

  &:hover
    background: $pri2

//
// Filters grouping
//

.ws-page aside .filters .group
  margin-bottom: 20px

  &:last-child
    margin-bottom: -10px

//
// Filters slider
//

.ws-page aside .filters .slider
  width: 100%

  .title,
  .price
    +font(14px, 12px, 500)
    height: 12px
    cursor: default
    user-select: none
    text-transform: uppercase

  .title
    margin-bottom: 10px

  slider,
    +size(100%, 4px)
    position: relative
    display: block
    margin: 14px 0

    div
      position: absolute
      white-space: nowrap

    .bar
      +size($box: 100%)
      overflow: hidden
      background: $gray3
      border-radius: 0

    .bar .selection
      +size(0%, 100%)
      background: $pri2

    .handle
      +size($box: 16px)
      z-index: 2
      top: -6px
      cursor: pointer
      border: 0
      background: #fff
      border-radius: 50%
      box-shadow: 0 0 7px rgba(0, 0, 0, .2)

    .handle:after
      +size($box: 16px)
      +pos($t: 0, $l: 0)
      content: ''
      border-radius: 50%
      background-color: transparent

    .handle:after:hover,
    .handle.active:after,
      background-color: transparent

    .bubble,
    .bubble.active,
    .bubble.limit,
      display: none

//
// Filters switch
//

.ws-page aside .filters .switch
  +size(100%, 16px)
  position: relative
  margin-bottom: 10px

  label
    position: relative
    display: block
    width: 100%
    margin: 0
    cursor: pointer
    user-select: none

  span
    +font(14px, 16px, 500)

  input
    display: none

  div
    +size(28px, 16px)
    +pos($t: 0, $r: 0)
    border-radius: 8px
    background: $gray3
    transition: all .3s ease

  div > div
    +size($box: 12px)
    +pos($t: 2px, $l: 2px)
    border-radius: 50%
    background: #fff
    content: ''
    transition: all .3s ease

  input:checked + div
    background: $pri1

  input:checked + div > div
    transform: translateX(12px)
