//
// Cut for lp-home
//

.top-cut,
.bot-cut
  +size(100%, 40px)
  position: absolute
  background-size: cover

.top-cut
  top: -1px
.bot-cut
  bottom: -1px

.top-cut,
.bot-cut
  path
    fill: $gray4

  @media (max-width: 999px)
    display: none
