//
// Wrapper
//

.wrapper
  @media (max-width: 999px)
    padding-right: 20px $gg
    padding-left: 20px $gg

//
// Header
//

.info-header
  margin-bottom: 20px
  background: url(../img/bg/page5-1.jpg) no-repeat center top
  background-size: cover

  .wrapper
    padding-top: 80px
    padding-bottom: 80px
    text-align: center
    text-align-last: center

    .title,
    .descr
      margin-bottom: 20px
      text-align: center
      text-align-last: center
      color: #fff

    .title
      +font(24px, 28px)
    .descr
      +font(14px, 16px)

    a
      +font(14px, 16px, 500)
      color: #fff
      text-align: center
      text-align-last: center
      text-transform: uppercase
      display: inline-block
      margin: 0 auto
      padding: 10px 15px
      border-radius: 3px
      background: $pri1

    a:hover
      background: $pri2

//
// Body
//

.info-body .container
  @media (max-width: 999px)
    width: 100%
    text-align: justify
    text-align-last: left
  @media (min-width: 1000px)
    width: 780px
    text-align: left
    text-align-last: left

.info-body
  .text
    +font(14px, 16px)
    margin-bottom: 20px
    text-align: justify
    text-align-last: left

  .title
    +font(17px, 20px, 500)
    margin-bottom: 10px
    text-align: center
    text-align-last: center

  hr
    border-color: $gray3
    margin-bottom: 20px

  .step
    +font
    position: relative

    @media (max-width: 999px)
      height: auto
      margin-bottom: 30px
    @media (min-width: 1000px)
      height: 98px
      margin-bottom: 20px

  .step
    > *
      +inline

    img
      width: 98px
      margin-right: 15px
      border-radius: 50%

  .step .info
    @media (max-width: 999px)
      width: calc(100% - 113px)

    @media (min-width: 1000px)
      +center(ver)
      left: 113px
      width: calc(100% - 113px)

  .step .info div
    +font(14px, 16px)

  .step .info .step-title
    margin-bottom: 10px

//
// Footer
//

.info-footer
  background: $gray1

  .wrapper
    padding-top: 30px
    padding-bottom: 30px
    text-align: center
    text-align-last: center

  .title,
  .descr,
  a
    color: #fff
    text-align: center
    text-align-last: center
    margin-bottom: 20px

  .title
    +font(20px, 24px, 500)
    text-transform: uppercase

  .descr
    +font(14px, 16px, 400)

  a
    +font(14px, 16px, 500)
    text-transform: uppercase
    display: inline-block
    margin: 0 auto
    padding: 10px 15px
    border-radius: 3px
    background: $pri1

  a:hover
    background: $pri2
