//
// Block 3
//

&
  position: relative
  background: url(../img/bg/page1-2.jpg) no-repeat center top, $gray4
  background-size: cover

@media (max-width: 999px)
  padding-top: 20px
  padding-bottom: 20px
@media (min-width: 1000px)
  padding-top: 70px
  padding-bottom: 70px

//
// Title
//

.title
  +font(40px, 47px, 400, 'Rubik')
  margin-bottom: 20px
  text-align: center
  color: #fff
  text-shadow: 0 0 15px rgba(0, 0, 0, .2)

.title
  @media (max-width: 999px)
    padding-right: 20px
    padding-left: 20px
    font-size: 32px
//
// Steps
//

.steps
  +justify($all: none)

  div,
  div *
    +font
    +inline
    text-align: left
    text-align-last: left

.steps
  @media (max-width: 999px)
    > div
      width: 100%
      margin-bottom: 20px
      padding-right: 20px
      padding-left: 20px
    > div:last-of-type
      margin: 0

  @media (min-width: 1000px)
    > div
      width: 300px

//
// Images
//

.steps
  img
    +size($box: 64px)
    border-radius: 50%
    background: $pri1

  img
    @media (max-width: 999px)
      margin: 0
    @media (min-width: 1000px)
      margin-top: 11px

//
// Text
//

.steps
  .text
    margin-left: 10px

  .text
    @media (max-width: 999px)
      width: calc(100% - 74px)
    @media (min-width: 1000px)
      width: 226px

//
// Title, and description
//

.steps
  .title,
  .descr
    color: #fff
    text-align: left
    text-align-last: left
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2)

  .title
    +font(18px, 25px, 500, 'Rubik')
    margin-bottom: 4px
    padding: 0

  .descr
    +font(14px, 20px, 400, 'Rubik')
