//
// Block 4
//

&
  position: relative
  padding: 20px 0
  background: $gray4

//
// Benefits
//

.benefit
  +font
  width: 100%
  > div
    +inline

.benefit
  @media (max-width: 999px)
    > div
      +size(100%, auto)
      padding-top: 10px
      padding-bottom: 10px
      background: transparent $gg

.benefit
  @media (min-width: 1000px)
    > div
      +size(288px, 240px)
      margin-right: 48px

    > div:last-of-type
      margin: 0

//
// Knights
//

.knight1
  background: url(../img/knight/grey/bowing.jpg) no-repeat center center $gg
.knight2
  background: url(../img/knight/grey/fighting.jpg) no-repeat center center $gg
.knight3
  background: url(../img/knight/grey/kneeling.jpg) no-repeat center center $gg
.knight4
  background: url(../img/knight/grey/lifting-visor.jpg) no-repeat center center $gg
.knight5
  background: url(../img/knight/grey/pointing.jpg) no-repeat center center $gg
.knight6
  background: url(../img/knight/grey/slashing.jpg) no-repeat center center $gg
.knight7
  background: url(../img/knight/grey/striking.jpg) no-repeat center center $gg
.knight8
  background: url(../img/knight/grey/superhero-stance.jpg) no-repeat center center $gg
.knight9
  background: url(../img/knight/grey/with-horse.jpg) no-repeat center center $gg

//
// Title, and description
//

.benefit
  .title,
  .descr
    +center(block)
    width: 288px
    text-align: center
    text-align-last: center

  .title
    +font(20px, 23px, 500)
    margin-bottom: 15px
    text-transform: uppercase
    color: $pri1

  .title
    @media (max-width: 999px)
      margin-bottom: 5px

  .descr
    +font(14px, 16px)
    color: $gray1

  .descr
    @media (max-width: 999px)
      text-align: justify
