//
// Block 6
//

&
  background: $gray4

.accredition
  +justify(none)
  padding: 20px

  @media (max-width: 999px)
    padding-right: 20px
    padding-left: 20px
    text-align: center
  @media (min-width: 1000px)
    padding-right: 100px
    padding-left: 100px
    text-align: justify

//
// Images
//

.accredition img
  +size($h: auto, $w-max: 100%)
  +center(block)
  +inline
  text-align: center
  text-align-last: center

  @media (max-width: 999px)
    margin-bottom: 10px
    &:last-of-type
      margin-bottom: 0
