//
// Block 1
//

&
  position: relative
  width: 100%
  background: url(../img/bg/page1-1.jpg) no-repeat center top
  background-size: cover

@media (max-width: 999px)
  min-height: 550px $gg

//
// Container
//

.container
  height: calc(100% - 130px)

  .wrapper
    position: relative
    height: 100%

//
// Mind
//

.mind
  width: 100%
  text-align: center

  @media (max-width: 999px)
    +pos($t: calc(50% - 25px), $l: 0)
    padding: 20px
    transform: translate(0, -50%)

  @media (min-width: 1000px)
    +pos($t: calc(50% - 45px), $r: 50%)
    transform: translate(50%, -50%)

  .title
    +font(40px, 48px, 500)
    margin-bottom: 10px
    color: #fff
    text-shadow: 0 0 5px rgba(0, 0, 0, .2)

  .title
    @media (max-width: 999px)
      font-size: 26px
      line-height: 28px

  .descr
    +font
    margin-bottom: 16px

  .descr div
    +font(16px, 20px, 500)
    color: #fff
    text-shadow: 0 0 5px rgba(0, 0, 0, .2)

  .descr div
    @media (max-width: 999px)
      font-size: 14px
      line-height: 18px
    @media (max-width: 800px)
      display: inline

//
// Mind form
//

.mind form
  +font
  width: 100%
  margin-bottom: 10px

  input
    +size(200px, 36px)
    +font(13px)
    border-radius: 3px

  input
    @media (max-width: 999px)
      display: block
      width: 80%
      margin: 0 auto 10px auto $gg

    @media (min-width: 1000px)
      +inline

  [type='text']
    margin-right: 10px
    padding: 0 8px
    color: #000
    border: 2px solid #fff
    background: #fff

  [type='submit']
    font-weight: 500
    width: 126px
    color: #fff
    border: 0
    background: $pri1

    &:hover
      background: $pri2

  +placeholder(204, 204, 204, 1)

//
// Help line
//

.mind .help
  +font

  a,
  span
    +font(13px, 14px, 400, 'Rubik')
    color: #fff
    text-shadow: 0 0 5px rgba(0, 0, 0, .2)

  a
    margin-right: 5px
    color: $pri1

    &:hover
      color: $pri2

//
// Scroll icon
//

.scroll
  +center(hor)
  bottom: 60px
  width: 30px

  path
    fill: #fff

  @media (max-width: 999px)
    display: none

  @media (min-width: 1000px)
    display: block
