//
// Block 2
//

&
  background: $gray4

article
  +size(100%, 299px)
  +center(block)
  +font

  @media (max-width: 999px)
    height: auto
    .img,
    .info
      float: none $gg
      height: auto
    &:first-child,
    &:last-child
      padding: 15px

  @media (min-width: 1000px)
    height: 299px
    &:first-child
      padding: 50px 0 30px 0
    &:last-child
      padding: 30px 0 50px 0

//
// Images and info
//

article
  .img,
  .info
    +inline

//
// Images
//

article
  .img
    @media (max-width: 999px)
      +size(100%, auto)
    @media (min-width: 1000px)
      +size(390px, 219px)

  .img img
    +center(block)
    +size($w: 100%, $h: auto, $w-max: 390px)
    border-radius: 5px

//
// Info
//

article
  .info
    margin-top: 20px

  .info
    @media (max-width: 999px)
      width: 100%
    @media (min-width: 1000px)
      width: 540px

article
  @media (min-width: 1000px)
    &.left-to-right .info
      margin-left: 30px
    &.right-to-left .info
      margin-right: 30px

article
  .info
    .title
      +font(19px, 22px, 500)
      text-align: left
      text-transform: uppercase

    .title
      @media (max-width: 999px)
        font-size: 16px
        line-height: 19px
        text-align: center
        text-align-last: center

    .descr
      +font(14px, 19px)
      text-align: justify

    .descr
      @media (max-width: 999px)
        font-size: 14px
        line-height: 17px
        text-align-last: center

    hr
      border-color: $gray3
      margin-top: 10px
      margin-bottom: 10px
