//
// Block 5
//

&
  position: relative
  background: url(../img/bg/page1-3.jpg) no-repeat center top, $gray4
  background-size: cover

@media (max-width: 999px)
  padding-top: 20px
  padding-bottom: 20px
@media (min-width: 1000px)
  padding-top: 70px
  padding-bottom: 70px

//
// Title
//

.title
  +font(40px, 47px, 400, 'Rubik')
  color: #fff
  margin-bottom: 20px
  text-align: center
  text-align-last: center
  text-shadow: 0 0 15px rgba(0, 0, 0, .2)

  @media (max-width: 999px)
    font-size: 32px
    padding: 0 20px

//
// Article (machine content)
//

article
  +font
  +center(block)

  @media (max-width: 999px)
    height: auto
  @media (min-width: 1000px)
    height: 240px

//
// Image, and machine
//

article
  .img,
  .machine
    +inline

//
// Image
//

article .img
  overflow: hidden

  @media (max-width: 999px)
    width: 100%
  @media (min-width: 1000px)
    width: 240px

  img
    +size($box: 240px)
    +center(block)
    border-radius: 10px
    box-shadow: 0 0 15px rgba(0, 0, 0, .2)

//
// Machine
//

article .machine
  +font

  .top,
  .mid,
  .bot
    +inline

  @media (max-width: 999px)
    +size(100%, auto)
    padding-top: 20px
    padding-right: 20px
    padding-left: 20px

  @media (min-width: 1000px)
    +size(700px, 240px)
    margin-left: 20px
    padding-top: 20px
    padding-bottom: 20px

//
// Machine top model, price
//

article .machine .top
  +font
  +justify
  width: 100%
  margin-bottom: 20px

  .model,
  .price
    +inline
    text-shadow: 0 1px 3px rgba(0, 0, 0, .15)

  .model
    +font(16px, 22px, 500)
    color: #fff

  .price
    +font(18px, 22px, 500)
    color: $pri1

  @media (max-width: 999px)
    display: none

//
// Machine middle information
//

article .machine .mid
  +font(14px, 20px)
  width: 100%
  margin-bottom: 20px
  text-align: justify
  text-align-last: left
  color: #fff
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15)

  @media (max-width: 999px)
    height: auto
  @media (min-width: 1000px)
    height: 98px

//
// Machine bottom buttons
//

article .machine .bot
  width: 100%

  @media (max-width: 999px)
    +justify($all: none)
  @media (min-width: 1000px)
    text-align: right

  span
    +size(90px, 40px)
    +font(15px, 35px, 500)
    +inline
    +margin(right, 20px)
    color: #fff
    cursor: pointer
    text-align: center
    text-align-last: center
    border: 3px solid $pri1
    border-radius: 3px
    background: transparent
    transition: border .3s ease-in-out, background .3s ease-in-out

    &:hover
      background: $pri1
