<div class="testpage" ng-controller="testPage1">

  <div class="container">
    <div class="wrapper">
      <form autocomplete="off" novalidate>

        <div class="group"> <!-- INPUT TEXT -->
          <div class="label">Input Text</div>
          <input type="text" placeholder="text">
        </div>

        <div class="group"> <!-- INPUT EMAIL -->
          <div class="label">Input Email</div>
          <input type="email" placeholder="text">
        </div>

        <div class="group"> <!-- INPUT SEARCH -->
          <div class="label">Input Search</div>
          <input type="search" placeholder="text">
        </div>

        <div class="group"> <!-- INPUT PASSWORD -->
          <div class="label">Input Password</div>
          <input type="password" placeholder="text">
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- TEXT AREA -->
          <div class="label">Text Area</div>
          <textarea placeholder="text"></textarea>
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- RADIO BUTTONS VERTICAL -->
          <div class="label">Radio Buttons (vertical)</div>
          <div class="radio radio-ver">
            <label>
              <input type="radio" name="radio1" checked>
              <div></div>
              <span>Item 1</span>
            </label>
          </div>
          <div class="radio radio-ver">
            <label>
              <input type="radio" name="radio1">
              <div></div>
              <span>Item 2</span>
            </label>
          </div>
          <div class="radio radio-ver">
            <label>
              <input type="radio" name="radio1">
              <div></div>
              <span>Item 3</span>
            </label>
          </div>
          <div class="radio radio-ver">
            <label>
              <input type="radio" name="radio1">
              <div></div>
              <span>Item 4</span>
            </label>
          </div>
        </div>

        <div class="group"> <!-- RADIO BUTTONS HORIZONTAL -->
          <div class="label">Radio Buttons (horizontal)</div>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="radio2" checked>
              <div></div>
              <span>Item 1</span>
            </label>
          </div>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="radio2">
              <div></div>
              <span>Item 2</span>
            </label>
          </div>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="radio2">
              <div></div>
              <span>Item 3</span>
            </label>
          </div>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="radio2">
              <div></div>
              <span>Item 4</span>
            </label>
          </div>
        </div>

        <div class="group"> <!-- RADIO BUTTONS HORIZONTAL CENTER -->
          <div class="label">Radio Buttons (horizontal, center)</div>
          <div class="radio-center">
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="radio3" checked>
                <div></div>
                <span>Item 1</span>
              </label>
            </div>
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="radio3">
                <div></div>
                <span>Item 2</span>
              </label>
            </div>
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="radio3">
                <div></div>
                <span>Item 3</span>
              </label>
            </div>
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="radio3">
                <div></div>
                <span>Item 4</span>
              </label>
            </div>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- CHECK BOX -->
          <div class="label">Check Box (vertical)</div>
          <div class="check check-ver">
            <label>
              <input type="checkbox" checked>
              <div></div>
              <span>Item 1</span>
            </label>
          </div>
          <div class="check check-ver">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 2</span>
            </label>
          </div>
          <div class="check check-ver">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 3</span>
            </label>
          </div>
          <div class="check check-ver">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 4</span>
            </label>
          </div>
        </div>

        <div class="group"> <!-- CHECK BOX HORIZONTAL -->
          <div class="label">Check Box (horizontal)</div>
          <div class="check check-hor">
            <label>
              <input type="checkbox" checked>
              <div></div>
              <span>Item 1</span>
            </label>
          </div>
          <div class="check check-hor">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 2</span>
            </label>
          </div>
          <div class="check check-hor">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 3</span>
            </label>
          </div>
          <div class="check check-hor">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 4</span>
            </label>
          </div>
        </div>

        <div class="group"> <!-- CHECK BOX HORIZONTAL CENTER -->
          <div class="label">Check Box (horizontal, center)</div>
          <div class="check-center">
            <div class="check check-hor">
              <label>
                <input type="checkbox" checked>
                <div></div>
                <span>Item 1</span>
              </label>
            </div>
            <div class="check check-hor">
              <label>
                <input type="checkbox">
                <div></div>
                <span>Item 2</span>
              </label>
            </div>
            <div class="check check-hor">
              <label>
                <input type="checkbox">
                <div></div>
                <span>Item 3</span>
              </label>
            </div>
            <div class="check check-hor">
              <label>
                <input type="checkbox">
                <div></div>
                <span>Item 4</span>
              </label>
            </div>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- INPUT FILE -->
          <div class="label">Input File</div>
          <label class="file">
            <input type="file" nv-file-select uploader="uploader" filters="queueLimit">
            <div class="name">
              <span ng-repeat="item in uploader.queue" ng-bind="item.file.name"></span>
            </div>
            <div class="button">choose file</div>
          </label>
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- SELECT SIMPLE -->
          <div class="label">Select Item (text)</div>
          <div class="select">
            <select>
              <option value="">Placeholder</option>
              <option ng-repeat="state in states" ng-bind="state"></option>
            </select>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group btn-left"> <!-- BUTTONS LEFT -->
          <input type="reset"  value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

        <div class="group"><hr></div>

        <div class="group btn-right"> <!-- BUTTONS RIGHT -->
          <input type="reset"  value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

        <div class="group"><hr></div>

        <div class="group btn-center"> <!-- BUTTONS CENTER -->
          <input type="reset"  value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

        <div class="group"><hr></div>

        <div class="group btn-justify"> <!-- BUTTONS JUSTIFY -->
          <input type="reset"  value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

        <div class="group"><hr></div>

        <div class="group btn-fluid"> <!-- BUTTONS FLUID -->
          <input type="reset" value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

      </form>
    </div>
  </div>

</div>
