<div class="ws-page fixed" ng-controller="catalogCpap">

  <div ng-include="'app/views/modules/header1.html'" class="head1"></div>
  <div ng-include="'app/views/modules/modal1.html'"></div>
  <div class="container">
    <div class="wrapper">

      <aside>
        <div class="filters">
          <div class="group slider">
            <div class="title" ng-bind="range.name"></div>
            <slider floor="{{range.min}}"
                    ceiling="{{range.max}}"
                    ng-model-low="range.minCost"
                    ng-model-high="range.maxCost"></slider>
            <div class="price">
              <div class="pull-left"  ng-bind="'$' + range.minCost"></div>
              <div class="pull-right" ng-bind="'$' + range.maxCost"></div>
            </div>
          </div>

          <div class="group"><hr></div>

          <div class="group" animate="all-all">
            <div class="switch">
              <label>
                <span>New</span>
                <input type="checkbox" ng-model="isNew" ng-click="checkState('New', !isNew)">
                <div><div></div></div>
              </label>
            </div>
            <div class="switch">
              <label>
                <span>Refurbished</span>
                <input type="checkbox" ng-model="isRefurbished" ng-click="checkState('Ref', !isRefurbished)">
                <div><div></div></div>
              </label>
            </div>
          </div>

          <div class="group" ><hr></div>

          <div class="group" animate="all-all" ng-repeat="filter in filters">
            <div class="switch" ng-repeat="switch in filter">
              <label>
                <span ng-bind="switch.title"></span>
                <input type="checkbox" ng-model="switch.model" ng-click="includeCompany(switch.title)">
                <div><div></div></div>
              </label>
            </div>
          </div>

        </div>
        <div class="links">
          <a ng-repeat="link in links"
             ng-bind="link.bind"
             ng-attr-ui-sref="{{link.sref}}"></a>
        </div>
      </aside>

      <section>
        <input class="search" type="search" placeholder="search..." ng-model="search.name">

        <div class="machines">
          <div ng-repeat="machine in machines
                          | filter: search
                          | priceFilter:range
                          | companyFilter:includedCompanies
                          | refurbishedFilter:isRefurbished
                          | newFilter:isNew">
            <div class="rent"
                 animate="all"
                 ng-if="machine.isPayment"
                 ui-sref="common.billing({price:machine.pricePerMonth, ships:machine.ships, type:machine.name})">Buy | Rent</div>
            <div class="rent"
                 animate="all"
                 ng-if="!machine.isPayment"
                 ng-click="showModal1Func();setMachine(machine.id);">Buy | Rent</div>
            <div class="img">
              <img ng-src="{{machine.imageUrl}}" alt="{{machine.name}}">
            </div>
            <div class="model" ng-bind="machine.name | characters:45"></div>
            <div class="refurbished" ng-bind="machine.refurbished ? 'Refurbished' : 'New'"></div>
            <div class="price" ng-bind="'$' + machine.pricePerMonth + ' / month'"></div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>










