<div class="ws-page fluid" ng-controller="catalogHelpPick">

  <div ng-include="'app/views/modules/header1.html'" class="head1"></div>

  <div class="container">
    <div class="wrapper">

      <aside>
        <div class="links">
          <a ng-repeat="link in links"
             ng-bind="link.bind"
             ng-attr-ui-sref="{{link.sref}}"></a>
        </div>
      </aside>

      <section>
        <form name="helpPick" ng-submit="submitHelpPick();" novalidate>
          <div class="group"> <!-- FULL NAME (INPUT TEXT) -->
            <div class="label">Full Name *</div>
            <input type="text" placeholder="Jessica Dixon"
                   name="name"
                   ng-model="name"
                   ng-pattern="pattern.name" required>
          </div>

          <div class="group"> <!-- EMAIL (INPUT TEXT) -->
            <div class="label">Email *</div>
            <input type="text" placeholder="jes.dixon@mail.com"
                   name="email"
                   ng-model="email"
                   ng-pattern="pattern.email" required>
          </div>

          <div class="group"> <!-- PHONE (INPUT TEXT) -->
            <div class="label">Phone Number *</div>
            <input type="text" placeholder="(623) 829 43 16"
                   name="phone"
                   ng-model="phone"
                   ng-pattern="pattern.phone" required>
          </div>

          <div class="group"> <!-- PATINET GND (RADIO) -->
            <div class="label">Are You Current Good Night Medical Patient?</div>
            <div class="radio radio-ver">
              <label>
                <input type="radio" name="currentPatient" ng-model="currentPatient" ng-value="true">
                <div></div><span>Yes</span>
              </label>
            </div>
            <div class="radio radio-ver">
              <label>
                <input type="radio" name="currentPatient" ng-model="currentPatient" ng-value="false">
                <div></div><span>No</span>
              </label>
            </div>
          </div>

          <div class="group" ng-if="!currentPatient">
            <div class="group"> <!-- ADDRESS (INPUT TEXT) -->
              <div class="label">Address *</div>
              <input type="text" placeholder="Vernon State, Nelson 217"
                     name="address"
                     ng-model="address" required>
            </div>

            <div class="group"> <!-- DATE OF BIRTH (INPUT TEXT) -->
              <div class="label">Date Of Birth</div>
              <input type="text" placeholder="11/03/1994"
                     name="dateBirth"
                     ng-model="dateBirth">
            </div>

            <div class="group"> <!-- DIAGNOSED WITH OS (RADIO) -->
              <div class="label">Have You Been Diagnosed With Obstructive Sleep?</div>
              <div class="radio radio-ver">
                <label>
                  <input type="radio" name="diagnosedSleep" ng-model="diagnosedSleep" ng-value="true">
                  <div></div><span>Yes</span>
                </label>
              </div>
              <div class="radio radio-ver">
                <label>
                  <input type="radio" name="diagnosedSleep" ng-model="diagnosedSleep" ng-value="false">
                  <div></div><span>No</span>
                </label>
              </div>
            </div>

            <div class="group" ng-if="diagnosedSleep">
              <div class="group"> <!-- CURRENT MACHINE (RADIO) -->
                <div class="label">What Is Your Current Treatment?</div>
                <div class="radio radio-ver">
                  <label>
                    <input type="radio" name="currentMachine" ng-model="currentMachine" ng-value="'CPAP'">
                    <div></div><span>CPAP</span>
                  </label>
                </div>
                <div class="radio radio-ver">
                  <label>
                    <input type="radio" name="currentMachine" ng-model="currentMachine" ng-value="'APAP'">
                    <div></div><span>APAP</span>
                  </label>
                </div>
                <div class="radio radio-ver">
                  <label>
                    <input type="radio" name="currentMachine" ng-model="currentMachine" ng-value="'BiPAP'">
                    <div></div><span>BiPAP</span>
                  </label>
                </div>
                <div class="radio radio-ver">
                  <label>
                    <input type="radio" name="currentMachine" ng-model="currentMachine" ng-value="'Other'">
                    <div></div><span>Other</span>
                  </label>
                </div>
              </div>

              <div class="group"> <!-- CURRENT EQUIPMENT (INPUT TEXT) -->
                <div class="label">What Is The Manufacturer Of Your Current Equipment? *</div>
                <input type="text"
                       name="currentEquipment"
                       ng-model="currentEquipment" required>
              </div>

              <div class="group"> <!-- CURRENT MASK (INPUT TEXT) -->
                <div class="label">What Mask Are You Currently Using? *</div>
                <input type="text"
                       name="currentMask"
                       ng-model="currentMask" required>
              </div>

              <div class="group"> <!-- COPIES SLEEP STUDY (RADIO) -->
                <div class="label">Do You Have Copies Of Your Sleep Study?</div>
                <div class="radio radio-ver">
                  <label>
                    <input type="radio" name="sleepStudy" ng-model="sleepStudy" ng-value="true">
                    <div></div>
                    <span>Yes</span>
                  </label>
                </div>
                <div class="radio radio-ver">
                  <label>
                    <input type="radio" name="sleepStudy" ng-model="sleepStudy" ng-value="false">
                    <div></div>
                    <span>No</span>
                  </label>
                </div>
              </div>

              <div class="group" ng-if="sleepStudy"> <!-- SLEEP STUDY (FILE UPLOAD) -->
                <div class="label">Upload A Scan / Picture Of Your Sleep Study</div>
                <label class="file">
                  <input type="file"
                         nv-file-select
                         uploader="sleepStudyUploader"
                         filters="queueLimit">
                  <div class="name">
                    <span ng-repeat="item in sleepStudyUploader.queue" ng-bind="item.file.name"></span>
                  </div>
                  <div class="button">choose file</div>
                </label>
              </div>

              <div class="group" ng-if="!sleepStudy"> <!-- SLEEP TEST (TEXT AREA) -->
                <div class="label">List The Information For The Physician Facilities That Conducted The Sleep Test</div>
                <textarea placeholder="Name, Phone, Address" ng-model="sleepTest"></textarea>
              </div>

              <div class="group"> <!-- PRESCRIPTION (RADIO) -->
                <div class="label">Do You Have A Prescription?</div>
                <div class="radio radio-ver">
                  <label>
                    <input type="radio" name="prescription" ng-model="prescription" ng-value="true">
                    <div></div><span>Yes</span>
                  </label>
                </div>
                <div class="radio radio-ver">
                  <label>
                    <input type="radio" name="prescription" ng-model="prescription" ng-value="false">
                    <div></div><span>No</span>
                  </label>
                </div>
              </div>

              <div class="group" ng-if="prescription"> <!-- PRESCRIPTION (FILE UPLOAD) -->
                <div class="label">Upload A Scan / Picture Of Your Prescription {{filePrescription}}</div>
                <label class="file">
                  <input type="file"
                         nv-file-select
                         uploader="prescriptionUploader"
                         filters="queueLimit">
                  <div class="name">
                    <span ng-repeat="item in prescriptionUploader.queue" ng-bind="item.file.name"></span>
                  </div>
                  <div class="button">choose file</div>
                </label>
              </div>
            </div>
          </div>

          <div class="group"> <!-- MESSAGE (TEXT AREA) -->
            <div class="label">Message</div>
            <textarea ng-model="message"></textarea>
          </div>

          <div class="group btn-justify"> <!-- BUTTONS -->
            <input type="reset" value="reset" ng-click="restForm();">
            <input type="submit" value="send">
          </div>

        </form>
      </section>

    </div>
  </div>

</div>










