.view-content {
  width: 100%;
  min-width: 950px;
  padding: 20px 0 0 220px;}

.table-view .title {
  font-family: 'Roboto';
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px 15px;
  text-align: justify;
  background-color: #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
     -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
          box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

.table-view .filter {
  height: 64px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
     -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
          box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

.table-view .filter input[type='search'] {
  width: 260px;
  height: 34px;
  padding: 0 10px;
  border: 2px solid #ddd;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;}

.table-view .filter input[type='search']:hover,
.table-view .filter input[type='search']:focus {
  color: #222831;
  border: 2px solid #fe7847;}

.table-view .filter input[type='search']:focus::-webkit-input-placeholder {color: transparent}
.table-view .filter input[type='search']:focus::-moz-placeholder          {color: transparent}
.table-view .filter input[type='search']:focus:-moz-placeholder           {color: transparent}
.table-view .filter input[type='search']:focus:-ms-input-placeholder      {color: transparent}

.table-view .filter .checkbox {
  position: relative;
  display: block;
  height: 34px;
  margin: 0;}

.table-view .filter .checkbox label {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 34px;
  min-height: 20px;
  margin: 0 0 0 40px;
  padding: 7px 0 7px 30px;
  cursor: pointer;}

.table-view .filter .checkbox label input[type='checkbox'] {
  line-height: normal;
  position: absolute;
  margin: 4px 0 0;
  margin-left: -20px;
  padding: 0;
  cursor: pointer;
  opacity: 0;}

.table-view .filter .checkbox label > span {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 2px #ddd;
     -moz-box-shadow: inset 0 0 0 2px #ddd;
          box-shadow: inset 0 0 0 2px #ddd;}

.table-view .filter .checkbox label > span > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #fff;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);}

.table-view .filter .checkbox label input[type='checkbox']:hover + span,
.table-view .filter .checkbox label input[type='checkbox']:checked + span {
  -webkit-box-shadow: inset 0 0 0 2px #fe7847;
     -moz-box-shadow: inset 0 0 0 2px #fe7847;
          box-shadow: inset 0 0 0 2px #fe7847;}

.table-view .filter .checkbox label input[type='checkbox']:checked + span > span {
  width: 10px;
  height: 10px;
  background-color: #fe7847;}

.table-view .filter input[type='submit'] {
  font-size: 14px;
  font-weight: 500;
  height: 34px;
  margin-left: 15px;
  padding: 0 15px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #f98b60;
  background-color: #f98b60;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;}

.table-view .filter input[type='submit']:hover,
.table-view .filter input[type='submit']:focus {
  color: #fff;
  border: 2px solid #fe7847;
  background-color: #fe7847;}

.table-view .table {
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
     -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
          box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

.table-view table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;}

.table-view table thead tr td {
  font-family: 'Rubik';
  font-size: 12px;
  font-weight: 500;
  padding: 10px 15px;
  border: 2px solid #fe7847;}

.table-view table tbody tr td {
  font-family: 'Rubik';
  font-size: 12px;
  position: relative;
  padding: 10px 15px;
  border: 2px solid #ddd;}

.table-view table tbody tr td.machine-img div {
  position: absolute;
  z-index: 200;
  top: 50%;
  right: -50px;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);}

.table-view table tbody tr td.machine-img div img {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #000;
     -moz-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;}

.table-view table tbody tr td.machine-img div,
.table-view table tbody tr td.machine-img div img {
  width: 0;
  height: 0;
  opacity: 0;}

.table-view table tbody tr td.machine-img div:hover,
.table-view table tbody tr td.machine-img div img:hover {
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;}

.table-view table tbody tr td.machine-img:hover div,
.table-view table tbody tr td.machine-img:hover div img {
  width: 60px;
  height: 60px;
  opacity: 1;}

.table-view table tbody tr td.machine-img:hover div {
  width: 70px;
  height: 70px;
  padding: 5px;
  opacity: 1;
  background-color: rgba(0,0,0,.7);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;}

.table-view table tbody tr:hover td {
  padding: 10px 15px;
  background-color: #f0f0f2;}

.table-view table tbody tr td input {
  font-weight: 600;
  display: block;
  margin: auto;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 0 solid #f98b60;
  background-color: #f98b60;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;}

.table-view table tbody tr td input:hover,
.table-view table tbody tr td input:focus,
.table-view table tbody tr td input:active {
  border-color: #fe7847;
  background-color: #fe7847;}

.machine {
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
     -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
          box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

/**
 * Стили таблицы на странице аналитики
 */

.analytics .table-view .table {
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
     -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .05);
          box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

.analytics .table-view .table table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;}

.analytics .table-view .table table thead tr td {
  font: 500 12px 'Rubik';
  padding: 10px 15px;
  word-break: break-all;
  border: 2px solid #fe7847;}

.analytics .table-view .table table td {
  word-break: break-all;}

.analytics .table-view .table > table > thead > tr > td:nth-child(1) {
  width: 4%;}

.analytics .table-view .table > table > thead > tr > td:nth-child(2) {
  width: 21%;}

.analytics .table-view .table > table > thead > tr > td:nth-child(3) {
  width: 19%;}

.analytics .table-view .table > table > thead > tr > td:nth-child(4) {
  width: 20%;}

.analytics .table-view .table > table > thead > tr > td:nth-child(5) {
  width: 7%;}

.analytics .table-view .table > table > thead > tr > td:nth-child(6) {
  width: 9%;}

.analytics .table-view .table table tbody tr td {
  font: 400 12px 'Rubik';
  position: relative;
  padding: 10px 15px;
  border: 2px solid #ddd;}

.analytics .table-view .table .child-table {
  padding: 0;}
