//
// Search
//

section .search
  +size(100%, 40px)
  +font(14px)
  padding-right: 10px
  padding-left: 37px
  border: 0
  background: url('../svg/icons/search.svg') no-repeat 12px center/16px, #fff

//
// Machines
//

section .machines
  +font
  position: relative
  margin: 0 -20px 0 0
  padding: 0
  border-radius: 0
  background: transparent
  box-shadow: none

//
// Machines blocks
//

section .machines
  > div
    +size(220px, 240px)
    +inline
    position: relative
    margin-right: 20px
    margin-bottom: 20px
    cursor: pointer
    border-radius: 5px 5px 3px 3px
    background: $gray2
    box-shadow: 0 0 7px rgba(0, 0, 0, .05)

  .rent
    +size(220px, 157px)
    +pos($t: 0, $l: 0)
    +font(24px, 157px, 500, 'Rubik')
    color: #fff
    text-align: center
    text-align-last: center
    text-transform: uppercase
    opacity: 0
    border-radius: 3px 3px 0 0
    background: rgba(57, 62, 70, .85)
    z-index: 10

  > div:hover .rent
    opacity: 1

//
// Machine image
//

section .machines .img
  +size(220px, 157px)
  overflow: hidden
  border-radius: 3px 3px 0 0
  background: #fff

  img
    +size(157px)
    +center(block)
    background: #fff

//
// Machine info
//

section .machines
  .model
    +font(14px, 16px, 500)
    +pos($t: 167px, $l: 10px)
    color: #fff
    width: 200px
    text-align: left
    text-align-last: left

  .refurbished,
  .price
    +font(13px, 13px, 500)
    +pos($b: 10px)

  .refurbished
    left: 10px
    color: #fff

  .price
    right: 10px
    color: $pri1
