//
// Grouping
//

.group
  +font
  +margin(bottom, 20px)
  position: relative

//
// Label for controls
//

.group
  .label
    +font(14px, 16px, 500)
    margin-bottom: 4px

//
// Separate
//

.group hr
  border-color: $gray3

//
// Title, description, and justify links
//

.group
  &.title
    +font(16px, 20px, 500)
    text-align: center
    text-align-last: center
    text-transform: uppercase
  &.description
    +font(14px, 20px)
    text-align: center
    text-align-last: center
  &.justify
    +justify
    a
      +font(12px, 10px, 500)
      text-transform: uppercase
      transition: color .3s ease
    a:hover
      color: $pri1
    span:first-child
      display: none
    span:last-child
      display: none

//
// Textarea, text, email, search, and password
//

.group textarea,
.group [type='text'],
.group [type='email'],
.group [type='search'],
.group [type='password']
  +font(14px)
  +input-text
  display: block
  appearance: none

.group textarea
  height: 120px
  padding: 10px
  resize: none

+placeholder

//
// Checkbox, radio buttons
//

.check,
.radio
  position: relative
  display: block
  height: 20px
  label
    +font
    display: block
    cursor: pointer
    *
      +inline(middle)
    input
      display: none
    div
      +size($box: 20px)
      position: relative
      transition: box-shadow .3s ease
      border: 0
      background: #fff
      box-shadow: inset 0 0 0 2px $gray3
    div:before
      +size($box: 0)
      +center
      content: ''
      transition: height .2s linear, width .2s linear, background .2s linear
      background: #fff
    span
      +font(14px, 20px)
      margin-left: 5px

.radio
  label
    div,
    div:before
      border-radius: 50%

.check,
.radio
  label
    input:hover,
    input:checked
      + div
        box-shadow: inset 0 0 0 2px $pri1;
    input:checked
      + div:before
        +size($box: 50%)
        background: $pri1

.check-ver,
.radio-ver
  +margin(bottom, 5px)
  display: block $gg

.check-hor,
.radio-hor
  +margin(right, 10px)
  display: inline-block $gg

.check-center,
.radio-center
  +size(100%, 20px)
  +font
  display: block
  text-align: center
  text-align-last: center
  > div
    +inline(middle)

//
// File Upload
//

.file
  +size(100%, 34px)
  +font
  overflow: hidden
  cursor: pointer
  input
    display: none
  .name,
  .button
    +inline
  .name
    +input-text(calc(100% - 120px))
    +font(14px, 30px)
    +ellipsis
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-right: 0;
  .button
    +font(14px, 34px, 700)
    +smoothing
    +inline(middle)
    width: 120px
    color: #fff
    border-radius: 3px
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    text-align: center
    text-align-last: center
    text-transform: uppercase
    transition: background .3s ease
    background: $pri1
  &:hover
    .name
      border-color: $pri1

//
// Select Simple
//

.select
  +input-text
  +font(14px)
  padding: 0
  overflow: hidden
  background: url(../svg/ui/drop-down.svg) no-repeat calc(100% - 10px) center
  background-color: #fff
  select
    +size(calc(100% + 60px), 100%)
    line-height: 100%
    display: block
    padding: 0 10px
    border: 0
    background: transparent
    appearance: none
    cursor: pointer
  &:hover
    border: 2px solid $pri1

//
// Buttons
//

.btn-left,
.btn-right,
.btn-center
  +font

.btn-left
  text-align: left
.btn-right
  text-align: right
.btn-center
  text-align: center
.btn-justify
  +justify

.btn-left,
.btn-right,
.btn-center
  input
    +margin(right, 10px)

.btn-fluid
  input
    +margin(bottom, 10px)
    width: 100%

[type='reset'],
[type='submit'],
[type='button']
  +font(14px, 40px, 700)
  +smoothing
  +inline(middle)
  color: #fff
  border: 0
  border-radius: 3px
  padding: 0 15px
  text-align: center
  text-align-last: center
  text-transform: uppercase
  transition: background .3s ease
  background: $pri1
  &:hover
    background: $pri2

//
// Validate
//

.error,
.ng-invalid.ng-touched
  border-color: $error $gg

.ng-submitted .ng-invalid
  border-color: $error $gg
