*
  font-family: 'Roboto', 'Arial', 'Verdana', sans-serif $gg
  color: $gray1
  padding: 0
  margin: 0

*,
*:after,
*:before
  box-sizing: border-box

*,
*:hover,
*:focus,
*:active
  outline: none $gg

//
// Document
//

html,
body
  +size($box: 100%)
  background: $gray4

a,
a:hover,
a:focus
  transition: all .3s ease

//
// Shortcuts
//

.hide
  display: none $gg
.show
  display: block $gg

.pull-right
  float: right $gg
.pull-left
  float: left $gg

//
// Typography
//

.text-left
  text-align: left $gg
.text-right
  text-align: right $gg
.text-center
  text-align: center $gg
.text-justify
  text-align: justify $gg
