.darkness {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);}

.darkness .window {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 700px;
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-box-shadow: 0 0 35px rgba(0,0,0,.15);
     -moz-box-shadow: 0 0 35px rgba(0,0,0,.15);
          box-shadow: 0 0 35px rgba(0,0,0,.15);}

.darkness .window .title {
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: none;}

.darkness .window .info-block {
  max-height: 360px;
  margin-bottom: 20px;
  overflow-y: auto;}

.darkness .window .text {
  font-family: 'Rubik';
  font-size: 12px;
  margin-bottom: 10px;}

.darkness .window .text span {
  font-family: 'Rubik';
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;}

.darkness .window form {
  position: relative;
  height: 40px;}

.darkness .window form input {
  font-weight: 600;
  display: block;
  margin: auto;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 0 solid #f98b60;
  background-color: #f98b60;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;}

.darkness .window form input.left {
  position: absolute;
  bottom: 0;
  left: 0;}

.darkness .window form input.right {
  position: absolute;
  right: 0;
  bottom: 0;}

.darkness .window form input:hover,
.darkness .window form input:focus,
.darkness .window form input:active {
  padding: 10px 35px;
  border-color: #fe7847;
  background-color: #fe7847;}

.darkness .window form input.left:hover,
.darkness .window form input.left:focus,
.darkness .window form input.left:active,
.darkness .window form input.right:hover,
.darkness .window form input.right:focus,
.darkness .window form input.right:active {
  padding: 10px 15px;
  border-color: #fe7847;
  background-color: #fe7847;}

.analytics .window {
  width: auto;
}
