.header-block
  background-image: url(../img/bg/page1-2.jpg)

//
// Form
//

form
  width: 300px
  margin: 20px auto

//
// Grouping
//

form .group
  +margin(bottom, 10px)

//
// Separate
//

form hr
  border-color: rgba(0, 0, 0, .1)
  margin-top: 20px
  margin-bottom: 20px

//
// Title
//

form .title
  +font(22px, 20px, 600)
  margin-bottom: 20px
  text-align: center
  color: #5f6468

//
// Multi input / select lines
//

.first-name,
.last-name,
.state,
.zip,
.month,
.year,
.cvv
  +inline
  margin: 0

.first-name,
.state,
.month,
.year
  margin-right: 10px

.first-name,
.last-name
  width: 145px

.state
  width: 210px
.zip
  width: 80px

.month
  width: 105px
.year
  width: 105px
.cvv
  width: 70px

//
// Result table
//

.result
  +center(block)
  width: 270px

  div
    +justify(none)

  span
    +font(14px, 20px)
    +inline
    text-align: left
    text-align-last: left
    color: #5f6468

//
// Purchase info block
//

.purchase-info
  +font(12px, 17px)
  text-align: center
  text-align-last: center
