.header-block
  background-image: url(../img/bg/page1-2.jpg)

//
// Wrapper
//

.wrapper
  +center(block)
  width: 300px

//
// Separate
//

.group hr
  border-color: rgba(0, 0, 0, .1)
  margin-top: 20px
  margin-bottom: 20px

//
// Table Title
//

.title
  +font(22px, 24px, 500)
  margin-top: 20px
  margin-bottom: 20px
  text-align: center
  text-align-last: center

//
// Table Lines
//

.line
  +justify(none)
  margin: 5px auto

span
  +font(14px, 20px)
  +inline
  +ellipsis

.left
  width: 116px
  text-align: left
  text-align-last: left

.right
  width: 180px
  text-align: right
  text-align-last: right
