//
// Wrapper
//

.wrapper
  @media (max-width: 999px)
    padding-right: 20px $gg
    padding-left: 20px $gg

//
// Header
//

.info-header
  width: 100%
  background: url(../img/bg/page1-2.jpg) no-repeat center top
  background-size: cover

  .wrapper
    padding: 30px 0
    text-align: center
    text-align-last: center

//
// Header title
//

.info-header .title
  +font(26px, 30px, 500)
  color: #fff
  margin-bottom: 20px
  text-shadow: 0 0 15px rgba(0, 0, 0, .15)

//
// Header description
//

.info-header .descr
  +font
  display: inline-block
  position: relative
  padding: 30px
  border-radius: 3px
  background: #fff
  box-shadow: 0 0 15px rgba(0, 0, 0, .05)

  img,
  div
    +inline

  img
    margin-right: 270px
    border-radius: 3px

  div
    @media (min-width: 1000px)
      +center(ver)
      right: 30px
      width: 240px

  .line1,
  .line2,
  .line3
    display: block
    text-align: center
    text-align-last: center
    text-transform: uppercase

  .line1
    +font(34px, 30px, 600)
  .line2
    +font(37px, 33px, 600)
  .line3
    +font(13px, 14px, 600)

  a
    +font(26px, 61px, 500)
    +center(block)
    width: 166px
    margin-top: 30px
    color: #fff
    text-align: center
    text-align-last: center
    text-transform: uppercase
    border-radius: 3px
    background: $pri1

    &:hover
      background: $pri2

//
// Body title, and box
//

.info-body .wrapper
  @media (max-width: 999px)
    padding: 20px
  @media (min-width: 1000px)
    padding-top: 50px
    padding-bottom: 50px

  .title
    +font(36px, 42px, 500)
    color: $pri1
    text-align: center
    text-align-last: center
    text-transform: uppercase

    @media (max-width: 999px)
      +font(24px, 28px, 500)
    @media (min-width: 1000px)
      +font(36px, 42px, 500)

  .box
    @media (min-width: 1000px)
      position: relative
      height: 500px
      margin-top: 20px

//
//  Body box messages
//

.info-body .wrapper .box
  .msg1,
  .msg2,
  .msg3
    +font(12px, 15px, $family: 'Rubik')
    +center(block)
    width: 195px
    padding: 20px
    text-align: center
    text-align-last: center
    border-radius: 3px
    background: #fff
    box-shadow: 0 0 15px rgba(0, 0, 0, .05)

    @media (max-width: 999px)
      margin-top: 20px

  @media (min-width: 1000px)
    .msg1
      +pos($t: 0, $l: 0)
    .msg2
      +pos($b: 0, $l: 0)
    .msg3
      +center(ver)
      right: 0

  ul
    margin-top: 10px
    margin-left: 20px
    text-align: left
    text-align-last: left
    list-style-type: disc

  img
    +center(both)

//
// Footer
//

.info-footer
  background: $gray1

  .wrapper
    text-align: center
    text-align-last: center

    @media (max-width: 999px)
      padding-top: 20px
      padding-bottom: 20px
    @media (min-width: 1000px)
      padding-top: 35px
      padding-bottom: 35px

//
// Footer text, and link
//

.info-footer
  div,
  span
    +font(14px, 17px, $family: 'Rubik')
    color: #fff

  .link
    display: inline-block
    text-align: center
    text-align-last: center
    background: transparent

    @media (min-width: 1000px)
      padding: 13px 33px
      border: 3px solid $pri1
      border-radius: 33px

    a
      color: $pri1
    a:hover
      color: $pri2
