//
// Form
//

form
  width: 300px
  margin: 20px auto

//
// Grouping
//

.group
  margin-bottom: 10px

.group:last-child
  margin-bottom: 20px

.group.m20
  margin: 20px 0

//
// Multi input / select lines
//

form
  .first-name,
  .last-name,
  .month,
  .day,
  .year
    +inline
    margin: 0

  .first-name,
  .month,
  .day
    margin-right: 10px

  .first-name,
  .last-name
    width: 145px

  .month
    width: 120px

  .day,
  .year
    width: 80px
