//
// Make clicks pass-through
//

#loading-bar,
#loading-bar-spinner
  transition: .4s linear all
  &.ng-enter,
  &.ng-leave.ng-leave-active
    opacity: 0
  &.ng-enter.ng-enter-active,
  &.ng-leave
    opacity: 1

//
// Bar & Peg
//

#loading-bar
  .bar
    +size(100%, 2px)
    +pos($p: fixed, $t: 0, $l: 0)
    z-index: 999
    transition: width .35s
    background: $pri1
  .peg
    +size(70px, 2px)
    +pos($t: 0, $r: 0)
    border-radius: 100%
    box-shadow: 1px 0 7px 2px $pri1

//
// Spinner
//

#loading-bar-spinner
  +pos($p: fixed, $t: 15px, $l: 15px)
  z-index: 999
  display: block
  .spinner-icon
    +size($box: 19px)
    animation: loading-bar-spinner .4s linear infinite
    border: 2px solid transparent
    border-top-color: $pri1
    border-left-color: $pri1
    border-radius: 50%

@keyframes loading-bar-spinner
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
