@mixin input-text($w: 100%)
  width: $w
  height: 34px
  padding: 0 10px
  transition: border .3s ease
  border: 2px solid $gray3
  border-radius: 3px
  background-color: #fff
  &:focus
    border-color: $pri1
  &:hover
    border-color: $pri1
