@mixin justify($value: top, $all: no)
  font: 0/0 a
  text-align: justify
  text-align-last: justify
  text-justify: newspaper
  &:after
    display: inline-block
    visibility: hidden
    overflow: hidden
    width: 100%
    height: 0
    content: ''
  @if $all == none
  @else if $all == no
    & > *
      display: inline-block
      vertical-align: $value
      text-align: left
      text-align-last: left
  @else
    & *
      display: inline-block
      vertical-align: $value
      text-align: left
      text-align-last: left
