@mixin size($w: null, $h: null, $w-max: null, $w-min: null, $h-max: null, $h-min: null, $box: false)
  @if $box == false
    width: $w
    max-width: $w-max
    min-width: $w-min
    height: $h
    max-height: $h-max
    min-height: $h-min
  @else
    width: $box
    height: $box
