@mixin font($size: 0, $height: normal, $weight: 400, $family: none)
  @if $size == 0
    font: 0/0 a
  @else if $family == none
    font: $weight #{$size}/#{$height} ''
  @else
    font: $weight #{$size}/#{$height} $family
