//
// Date of birth
//

.month,
.day,
.year
  +inline

.month,
.day
  margin-right: 10px

.month
  width: calc(48% - 10px)

.day,
.year
  width: calc(26% - 5px)

//
// Weight, and height
//

.left,
.right
  +inline

.left
  width: calc(100% - 80px)
  margin-right: 10px

.right
  width: 70px

//
// Text info
//

.test-info
  +font(14px, 16px)
  text-align: center
  text-align-last: center
