.ws-page
  article,
  address
    margin-bottom: 20px
    padding: 20px
    border-radius: 3px
    background: #fff
    box-shadow: 0 0 7px rgba(0, 0, 0, .05)

  article > *
    +margin(bottom, 15px)

  address
    font: 400 14px/18px 'Roboto'

//
// Titles
//

.ws-page article
  h1, h2, h3, h4, h5, h6
    text-align: left
    text-align-last: left

  h1
    +font(32px, 38px, 500)
  h2
    +font(24px, 28px, 500)
  h3
    +font(19px, 23px, 500)
  h4
    +font(16px, 19px, 500)
  h5
    +font(13px, 15px, 500)
  h6
    +font(11px, 13px, 500)

//
// Paragraphs
//

.ws-page article p
  +font(14px, 19px)
  letter-spacing: .03px
  text-align: justify
  text-align-last: left

//
// Lists
//

.ws-page article
  ol
    list-style: decimal
  ul
    list-style: none

  ol,
  ul
    padding-left: 14px

    li,
    li
      +font(14px, 18px)
      position: relative
      margin-bottom: 5px
      text-align: justify
      text-align-last: left

    li:before
      +size($box: 6px)
      +pos($t: 7px, $l: -14px)
      background: $pri1
      border-radius: 50%
      content: ''

//
// Views
//

.ws-page
  .about-us,
  .locations,
  .testimonials
    margin: 0
    padding: 0
    border-radius: 0
    background: transparent
    box-shadow: none

  article .author
    margin: 0
    text-align: right
    text-align-last: right

  form
    @import info-screening-tool
