<div class="billing" ng-controller="billing">

  <div class="header-block">
    <div ng-include="'app/views/modules/header2.html'" class="head2"></div>
    <div class="title">shipping and billing</div>
  </div>

  <div class="container">
    <div class="wrapper">
      <form name="billData" ng-submit="submitPurchase();" novalidate>

        <div class="group title">Shipping Information</div>

        <div class="group">
          <div class="group">
            <input class="first-name" type="text" placeholder="First Name"
                   name="shipFirstName"
                   ng-model="shipData.shipment.firstName"
                   ng-pattern="pattern.name" required>

            <input class="last-name" type="text" placeholder="Last Name"
                   name="shipLastName"
                   ng-model="shipData.shipment.lastName"
                   ng-pattern="pattern.name" required>
          </div>
          <div class="group">
            <input type="text"
                   placeholder="Email Address"
                   ng-pattern="pattern.email"
                   name="email"
                   ng-model="shipData.email" required>
          </div>
          <div class="group">
            <input type="text" placeholder="Address"
                   name="shipAddress"
                   ng-model="shipData.shipment.primaryAddress" required>
          </div>

          <div class="group">
            <input type="text" placeholder="Address (optional)"
                   ng-model="shipData.shipment.secondaryAddress">
          </div>

          <div class="group">
            <input type="text" placeholder="City"
                   name="shipCity"
                   ng-model="shipData.shipment.city" required>
          </div>

          <div class="group">
            <div class="select state" ng-class="returnClass(billData.shipState.$touched, billData.shipState.$invalid, billData.$submitted);">
              <select name="shipState" ng-model="shipData.shipment.state" required>
                <option value="">State</option>
                <option ng-repeat="state in states" ng-bind="state" ng-value="state"></option>
              </select>
            </div>

            <input class="zip" type="text" placeholder="Zip Code"
                   name="shipZip"
                   ng-model="shipData.shipment.zip"
                   ng-pattern="pattern.zip" required>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group title">Billing Information</div>

        <div class="group">
          <div class="group">
            <input type="text" placeholder="Credit Card Number"
                   name="cardNumber"
                   ng-model="shipData.creditCard.cardNumber" required>
          </div>

          <div class="group">
            <div class="select month" ng-class="returnClass(billData.cardMonth.$touched, billData.cardMonth.$invalid, billData.$submitted);">
              <select name="cardMonth" ng-model="shipData.creditCard.expirationMonth" required>
                <option value="">Month</option>
                <option ng-repeat="month in months" ng-bind="month" ng-value="month"></option>
              </select>
            </div>

            <div class="select year" ng-class="returnClass(billData.cardYear.$touched, billData.cardYear.$invalid, billData.$submitted);">
              <select name="cardYear" ng-model="shipData.creditCard.expirationYear" required>
                <option value="">Year</option>
                <option ng-repeat="year in years" ng-bind="year" ng-value="year"></option>
              </select>
            </div>

            <input class="cvv" type="text" placeholder="CVV"
                   name="cardCvv"
                   ng-model="shipData.creditCard.cvv"
                   ng-pattern="pattern.cvv" required>
          </div>

          <div class="group">
            <div class="check-center">
              <div class="check check-hor">
                <label>
                  <input type="checkbox" ng-model="shipData.isSameBillShip">
                  <div></div><span>Billing address same as shipping</span>
                </label>
              </div>
            </div>
          </div>

          <div class="group" ng-if="!shipData.isSameBillShip">
            <div class="group">
              <input class="first-name" type="text" placeholder="First Name"
                     name="billFirstName"
                     ng-model="shipData.billing.firstName"
                     ng-pattern="pattern.name" required>
              <input class="last-name" type="text" placeholder="Last Name"
                     name="billLastName"
                     ng-model="shipData.billing.lastName"
                     ng-pattern="pattern.name" required>
            </div>

            <div class="group">
              <input type="text" placeholder="Address"
                     name="billAddress"
                     ng-model="shipData.billing.primaryAddress" required>
            </div>

            <div class="group">
              <input type="text" placeholder="Address (optional)"
                     ng-model="shipData.billing.secondaryAddress">
            </div>

            <div class="group">
              <input type="text" placeholder="City"
                     name="billCity"
                     ng-model="shipData.billing.city" required>
            </div>

            <div class="group">
              <div class="select state" ng-class="returnClass(billData.billState.$touched, billData.billState.$invalid, billData.$submitted);">
                <select name="billState" ng-model="shipData.billing.state" required>
                  <option value="">State</option>
                  <option ng-repeat="state in states" ng-bind="state" ng-value="state"></option>
                </select>
              </div>

              <input class="zip" type="text" placeholder="Zip Code"
                     name="billZip"
                     ng-model="shipData.billing.zip"
                     ng-pattern="pattern.zip" required>
            </div>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group">
          <input type="text" placeholder="Promo Code"
                 ng-model="promoCode">
        </div>

        <div class="group"><hr></div>

        <div class="group result">
          <div>
            <span>Sub Total</span>
            <span ng-bind="'$' + shipData.itemPrice"></span>
          </div>
          <div>
            <span>Shipping & Handling</span>
            <span ng-if="shipData.shipping" ng-bind="'$' + shipData.shipping"></span>
            <span ng-if="!shipData.shipping" ng-bind="'Ships Free'"></span>
          </div>
          <hr>
          <div>
            <span>Total</span>
            <span ng-bind="'$' + shipData.total"></span>
          </div>
        </div>
        <div class="group"><hr></div>
        <div class="group purchase-info" ng-bind="purchaseInfo"></div>
        <div class="group btn-fluid">
          <input type="submit" value="Purchase">
        </div>
      </form>
    </div>
  </div>

</div>






























