<div class="thanks" ng-controller="formThanks" ng-init="populate()">

  <div class="header-block">
    <div ng-include="'app/views/modules/header3.html'" class="head2"></div>
    <div class="description">Thank you for your submission! We will follow up with you via phone or email in the next few days to complete your order</div>
  </div>

  <div class="container">
    <div class="wrapper">
      <div class="title" ng-bind="'Form Submission Information'"></div>

      <div class="line">
        <span class="left">Full Name</span>
        <span class="right" ng-bind="fullName"></span>
      </div>

      <div class="line">
        <span class="left">Email</span>
        <span class="right" ng-bind="email"></span>
      </div>

      <div class="line">
        <span class="left">Phone</span>
        <span class="right" ng-bind="phone"></span>
      </div>
      <div class="line" ng-if="comments.length > 0">
        <span class="left">Message</span>
        <span class="right" ng-bind="comments"></span>
      </div>
      <div class="group btn-fluid">
        <input type="button" value="Back to Home Page" ui-sref="home">
      </div>
    </div>
      <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/958510283/?label=AlaHCLfppGoQy-mGyQM&amp;guid=ON&amp;script=0"/>
      </div>
  </div>
</div>






























