<div class="thanks" ng-controller="thanks" ng-init="populate()">

  <div class="header-block">
    <div ng-include="'app/views/modules/header3.html'" class="head2"></div>
    <div class="description">Thank you for your submission! We will follow up with you via phone or email in the next few days to complete your order</div>
  </div>

  <div class="container">
    <div class="wrapper">
      <div class="title" ng-repeat-start="data in content track by $index" ng-bind="data.title + ' Information'"></div>

      <div class="line">
        <span class="left">First Name</span>
        <span class="right" ng-bind="data.firstName"></span>
      </div>

      <div class="line">
        <span class="left">Last Name</span>
        <span class="right" ng-bind="data.lastName"></span>
      </div>

      <div class="line">
        <span class="left">Address</span>
        <span class="right" ng-bind="data.primaryAddress"></span>
      </div>

      <div class="line" ng-if="data.secondaryAddress">
        <span class="left">Address (optional)</span>
        <span class="right" ng-bind="data.secondaryAddress"></span>
      </div>

      <div class="line">
        <span class="left">State & Zip</span>
        <span class="right" ng-bind="data.state + ' (' + data.zip + ')'"></span>
      </div>

      <div class="group" ng-repeat-end><hr></div>

      <div class="group btn-fluid">
        <input type="button" value="Back to Home Page" ui-sref="home">
      </div>
    </div>
  </div>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/958510283/?value=1.00&amp;currency_code=USD&amp;label=bI9bCO_upGoQy-mGyQM&amp;guid=ON&amp;script=0"/>
  </div>
</div>






























