<div class="footer" ng-controller="footer">
  <div class="container">
    <div class="footer-wrapper">

      <div class="about">
        <div class="title">about us</div>
        <div class="about-us" ng-bind="info.aboutUs"></div>
        <div class="copyright" ng-bind="info.copyright"></div>
      </div>

      <div class="hide-footer">
        <div class="title">links</div>
        <div class="links">
          <a ng-repeat="link in linksState"
             ng-bind="link.bind"
             ng-attr-ui-sref="{{link.sref ? link.sref : false}}"></a>
        </div>
      </div>

      <div class="hide-footer">
        <div class="title">social</div>
        <div class="links">
          <a target="_blank"
             ng-repeat="link in linksSocial"
             ng-bind="link.bind"
             ng-href="{{link.href}}"></a>
        </div>
      </div>

      <form name="contactUsForm" ng-submit="submitContactUsForm();" novalidate>
        <input type="text" placeholder="Full Name"
               name="name"
               ng-model="contactUsInfo.fullName"
               ng-pattern="pattern.name" required>
        <input type="text" placeholder="Email"
               name="email"
               ng-model="contactUsInfo.email"
               ng-pattern="pattern.email" required>
        <input type="text" placeholder="Phone Number"
               name="phone"
               ng-model="contactUsInfo.phone"
               ng-pattern="pattern.phone" required>
        <input type="submit" value="Contact me">
      </form>

    </div>
  </div>
</div>
