<div class="header" ng-controller="header">
  <div class="container">
    <div class="header-wrapper clearfix">

        <div class="logotype pull-left" ng-include="'content/svg/logotype.svg'"></div>

        <nav class="pull-right show-lg">
          <div class="phone">
            <div class="phone-icon" ng-include="'content/svg/icons/phone.svg'"></div>
            <div class="phone-popup" ng-bind="'Phone Number: ' + phoneNumber"></div>
          </div>
          <div class="separate" ng-repeat-start="link in linksState"></div>
          <a ng-repeat-end
             ng-bind="link.bind"
             ng-attr-ui-sref="{{link.sref ? link.sref : false}}"></a>
        </nav>

        <nav class="pull-right show-md">
          <div ng-click="showMenu();">
            <span ng-include="'content/svg/icons/hamburger.svg'"></span>
            <span>menu</span>
          </div>
        </nav>

        <div class="menu-fixed-dark" ng-show="navMenu">
          <div class="menu-fixed-cross"
               ng-click="hideMenu();"
               ng-include="'content/svg/icons/cross.svg'"></div>
          <div class="menu-fixed">
            <div>
              <ul>
                <li ng-repeat="link in linksState">
                  <a ng-click="hideMenu();"
                     ng-bind="link.bind"
                     ng-attr-ui-sref="{{link.sref ? link.sref : false}}"></a>
                </li>
                <hr>
                <li ng-repeat="link in linksSocial">
                  <a target="_blanks"
                     ng-click="hideMenu();"
                     ng-bind="link.bind"
                     ng-href="{{link.href}}"></a>
                </li>
                <hr>
                <li class="phone-nubmer" ng-bind="phoneNumber"></li>
              </ul>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
