<div class="blackout" ng-controller="modal" ng-show="showModal2">
  <div class="window">
    <div class="group title">Message</div>
    <div class="group description" ng-bind="modal2Msg"></div>
    <div class="group btn-center">
      <input type="button" value="close" ng-click="showModal2Func();">
    </div>
  </div>
</div>

