<div class="blackout" ng-controller="modal" ng-show="showModal1">
  <div class="window">
    <form novalidate name="modalForm" ng-submit="submitModalForm1();">
      <div class="group title">Let Us Contact You</div>

      <div class="group">
        <input type="text" placeholder="Full Name"
               name="name"
               ng-model="model.fullName"
               ng-pattern="pattern.name" required>
      </div>

      <div class="group">
        <input type="text" placeholder="Email"
               name="email"
               ng-model="model.email"
               ng-pattern="pattern.email" required>
      </div>

      <div class="group">
        <input type="text" placeholder="Phone Number"
               name="phone"
               ng-model="model.phone"
               ng-pattern="pattern.phone" required>
      </div>

      <div class="group">
        <hr>
      </div>

      <div class="group">
        <div class="label text-center">Do you have a doctors prescription</div>
        <div class="radio-center">
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="docPres" ng-model="model.prescription" ng-value="'Yes'">
              <div></div><span>Yes</span>
            </label>
          </div>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="docPres" ng-model="model.prescription" ng-value="'No'">
              <div></div><span>No</span>
            </label>
          </div>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="docPres" ng-model="model.prescription" ng-value="'Unsure'">
              <div></div><span>Unsure</span>
            </label>
          </div>
        </div>
      </div>

      <div class="group">
        <hr>
      </div>

      <div class="group">
        <textarea placeholder="Message" ng-model="model.comments"></textarea>
      </div>

      <div class="group description"
           ng-bind="errorMsg.bind"
           ng-if="modalForm.$invalid && modalForm.$submitted"></div>

      <div class="group btn-justify">
        <input type="button" value="close" ng-click="showModal1Func();">
        <input type="submit" value="send">
      </div>
    </form>
  </div>
</div>

