<div class="blackout" ng-controller="modal" ng-show="showModal4">
  <div class="window">
    <form novalidate name="modalForm2" ng-submit="submitModalForm4();">
      <div class="group title">Home Sleep Test</div>

      <div class="group">
        <input type="text" placeholder="Full Name"
               name="name"
               ng-model="sleepTestModel.fullName"
               ng-pattern="pattern.name" required>
      </div>

      <div class="group">
        <input type="text" placeholder="Email"
               name="email"
               ng-model="sleepTestModel.email"
               ng-pattern="pattern.email" required>
      </div>

      <div class="group">
        <input type="text" placeholder="Phone Number"
               name="phone"
               ng-model="sleepTestModel.phone"
               ng-pattern="pattern.phone" required>
      </div>

      <div class="group">
        <hr>
      </div>

      <div class="group description"
           ng-bind="errorMsg.bind"
           ng-if="modalForm2.$invalid && modalForm2.$submitted"></div>

      <div class="group btn-justify">
        <input type="button" value="close" ng-click="showModal4Func(); clearForm2();">
        <input type="submit" value="send">
      </div>
    </form>
  </div>
</div>

