<div class="blackout" ng-controller="modal" ng-show="showModal3">
  <div class="window">
    <div class="group title">Data List</div>
    <div class="data-list">
      <div ng-repeat="data in dataList">
        <span class="title" ng-bind="data.bind1 + ':'"></span>
        <span ng-bind="data.bind2"></span>
      </div>
    </div>
    <div class="group btn-center">
      <input type="button" value="close" ng-click="showModal3Func();">
    </div>
  </div>
</div>
