<div class="block3" ng-controller="block3">

  <div class="top-cut" ng-include="'content/svg/cut/top.svg'"></div>

  <div class="container">
    <div class="wrapper">

      <div class="title" ng-bind="content.title"></div>

      <div class="steps">
        <span ng-repeat-start="step in content.steps"></span>
        <div>
          <img ng-src="content/svg/steps/{{$index + 1}}.svg" alt="">
          <div class="text">
            <div class="title" ng-bind="step.title"></div>
            <div class="descr" ng-bind="step.desc"></div>
          </div>
        </div>
        <span ng-repeat-end></span>
      </div>

    </div>
  </div>

  <div class="bot-cut" ng-include="'content/svg/cut/bot.svg'"></div>

</div>



