<div class="block4" ng-controller="block4">

  <div class="container">
    <div class="wrapper">

      <div class="benefit">
        <span ng-repeat-start="data in content"></span>
        <div ng-class="data.class">
          <div class="title" ng-bind="data.title"></div>
          <div class="descr" ng-bind="data.desc"></div>
        </div>
        <span ng-repeat-end></span>
      </div>

    </div>
  </div>

</div>
