<div class="block1" ng-controller="block1" ng-style="returnHeight();">

  <div ng-include="'app/views/modules/header1.html'" class="head2"></div>

  <div class="container">
    <div class="wrapper">

      <div class="mind">
        <div class="title" ng-bind="content.title"></div>
        <div class="descr">
          <div ng-bind="content.desc1"></div>
          <div ng-bind="content.desc2"></div>
        </div>

        <form name="contactUsForm" ng-submit="submitContactUsForm();" novalidate>
          <input type="text" placeholder="Full Name"
                 name="name"
                 ng-model="contactUsInfo.fullName"
                 ng-pattern="pattern.name" required>
          <input type="text" placeholder="Email"
                 name="email"
                 ng-model="contactUsInfo.email"
                 ng-pattern="pattern.email" required>
          <input type="text" placeholder="Phone Number"
                 name="phone"
                 ng-model="contactUsInfo.phone"
                 ng-pattern="pattern.phone" required>
          <input type="submit" value="Contact me">
        </form>

        <div class="help">
          <a ng-bind="link.bind1" ng-attr-ui-sref="{{link.uiSref ? link.uiSref : false}}"></a>
          <span ng-bind="link.bind2"></span>
        </div>
      </div>

    </div>
  </div>

  <div class="scroll"  ng-include="'content/svg/scroll.svg'"></div>
  <div class="bot-cut" ng-include="'content/svg/cut/bot.svg'"></div>

</div>
