<div class="row analytics" ng-controller="analytics">
  <div class="col-lg-12 table-view">

  <div class="darkness" ng-show="modalInfo">
    <div class="window">
      <div class="title">{{analyticsItem.landingPageUrl}}<br>full information</div>
      <div class="info-block">
        <table>
          <thead>
            <tr>
              <td class="text-center">#</td>
              <td>Request time</td>
              <td>Request URL</td>
              <td>Query parameters</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="analytics in getAnalyticsByRequest() | orderBy:analytics.requestTime">
              <td class="text-center" ng-bind="$index + 1"></td>
              <td ng-bind="analytics.requestTime"></td>
              <td ng-bind="analytics.requestPageUrl"></td>
              <td>
                <table>
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td>Value</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="queryParam in analytics.queryParameters">
                      <td ng-bind="queryParam.key"></td>
                      <td ng-bind="queryParam.value"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <form>
        <input class="left" type="button" value="show all" ng-if="!requests" ng-click="showAllRequests();">
        <input class="left" type="button" value="show last 10" ng-if="requests" ng-click="showAllRequests();">
        <input class="right" type="submit" value="Close" ng-click="showModalInfo($index);">
      </form>
    </div>
  </div>


  <div class="table">
    <table>

    <thead>
      <tr>
      <td class="text-center">#</td>
      <td>Request page</td>
      <td>Request text</td>
      <td>Result page</td>
      <td class="text-center">Amount</td>
      <td class="text-center">Show More</td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="data in content">
      <td class="text-center" ng-bind="$index + 1"></td>
      <td ng-bind="data.request"></td>
      <td ng-bind="data.requestText"></td>
      <td ng-bind="data.landingPageUrl"></td>
      <td ng-bind="getAmount($index)" class="text-center"></td>
      <td><input type="submit" value="show" ng-click="showModalInfo($index);"></td>
      </tr>
    </tbody>

    </table>
  </div>

  </div>
</div>
