<div class="row" ng-controller="clientsDataBase">
  <div class="col-lg-12 table-view">


    <div class="darkness" ng-show="modalInfo">
      <div class="window">
        <div class="title">User info</div>
        <div class="text"><span>Full name:</span> {{clients[0].firstName}} {{clients[0].lastName}}</div>
        <div class="text"><span>Gender:</span> {{clients[0].gender}}</div>
        <div class="text"><span>Date of birth:</span> {{clients[0].dateOfBirth}}</div>
        <div class="text"><span>Height:</span> {{clients[0].height}}</div>
        <div class="text"><span>Weight:</span> {{clients[0].weight}}</div>
        <div class="text"><span>Email:</span> {{clients[0].email}}</div>
        <div class="text"><span>Phone:</span> {{clients[0].phone}}</div>
        <div class="text"><span>social security nubmer:</span> {{clients[0].socialSecurityNubmer}}</div>
        <div class="text"><span>City:</span> {{clients[0].city}}</div>
        <div class="text"><span>State:</span> {{clients[0].state}}</div>
        <div class="text"><span>Street:</span> {{clients[0].street}}</div>
        <div class="text"><span>Zip code:</span> {{clients[0].zipCode}}</div>
        <div class="text"><span>Data:</span> {{clients[0].data1}} - {{clients[0].data2}}</div>

        <div class="text">
          <span>Documents:</span> <text ng-repeat="doc in clients[0].docs">{{doc}}, </text>
        </div>

        <div class="text"><span>Diagnosed with obstructive sleep:</span> {{clients[0].diagnosedObs}}</div>

        <div class="text">
          <span>Medical history:</span> <text ng-repeat="h in clients[0].history">{{h}} </text>
        </div>

        <div class="text"><span>Money paid:</span> {{clients[0].moneyPaid}}</div>
        <div class="text">
          <span>Models picked:</span> <text ng-repeat="m in clients[0].modelPicked" ng-bind="m.model + ' ' + m.data + ', '"> </text>
        </div>

        <form>
          <input class="right" type="submit" value="Close" ng-click="showModalInfo();">
        </form>
      </div>
    </div>

    <div class="table">
      <table>

        <thead>
          <tr>
            <td>Full Name</td>
            <td>Email</td>
            <td>Phone</td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="client in clients">
            <td ng-bind="client.firstName + ' ' + client.lastName"></td>
            <td ng-bind="client.email"></td>
            <td ng-bind="client.phone"></td>
            <td><input type="submit" value="Read" ng-click="showModalInfo();"></td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>
