<div ng-controller="Ctrl" ng-init="onLoad(); modalMessage = true;">

  <nav ng-controller="logoutController">
    <a class="brand pull-left" href="#">good <span>night</span> medical</a>
    <a class="log-out pull-right" href="#" ng-click="logout()">log out</a>
  </nav>

  <aside>
    <ul>
      <li ng-class="{active: $state.includes('main.dashboard')}" ui-sref="main.dashboard"><a href="">Dashboard</a></li>
      <li class="separate"></li>
      <li ng-class="{active: $state.includes('main.contactus')}" ui-sref="main.contactus"><a href="">Contact Us</a></li>
      <li ng-class="{active: $state.includes('main.rent')}" ui-sref="main.rent"><a href="">Rent CPAP</a></li>
      <li ng-class="{active: $state.includes('main.pick')}" ui-sref="main.pick"><a href="">Help Pick CPAP</a></li>
      <li ng-class="{active: $state.includes('main.machine')}" ui-sref="main.machine"><a href="">Machine</a></li>
      <li ng-class="{active: $state.includes('main.clients')}" ui-sref="main.clients"><a href="">Client</a></li>
      <li ng-class="{active: $state.includes('main.settings')}" ui-sref="main.settings"><a href="">Settings</a></li>
      <li ng-class="{active: $state.includes('main.analytics')}" ui-sref="main.analytics"><a href="">Analytics</a></li>
    </ul>
  </aside>

  <div class="darkness" ng-hide="modalMessage">
    <div class="window">
      <div class="title">Deleniti, sapiente. Dolore doloremque tempore, ea adipisci</div>
      <div class="text"><span>Name:</span> George Perez</div>
      <div class="text"><span>Email:</span> dfernandez@talane.edu</div>
      <div class="text"><span>Phone:</span> 8 (743) 138 86 99</div>
      <div class="text"><span>Prescription:</span> Yes</div>
      <div class="text"><span>Contact Method:</span> Phone</div>
      <div class="text"><span>Originality:</span> New Message</div>
      <div class="text"><span>Comment:</span> Sint ut molestiae earum odio explicabo, sapiente. Ea, odit, omnis! Eos ipsa deserunt, atque id quos inventore, debitis quisquam nobis cum quidem temporibus quo non beatae! Pariatur ipsam magnam doloribus earum recusandae. Iste officia accusantium, repellat sapiente quae quidem alias itaque corporis?</div>
      <form>
      <input class="left" type="submit" value="mark as read">
      <input type="submit" value="Simple">
      <input class="right" type="submit" value="Close" ng-click="modalMessage = true">
      </form>
    </div>
  </div>

  <div class="view-content">
    <div class="row">
      <div class="col-lg-12" ui-view></div>
    </div>
  </div>

</div>
