@charset "UTF-8";
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

ul,
ol {
  list-style: none;
}

a {
  background-color: transparent;
}

a:hover,
a:active {
  outline-width: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
}

hr {
  height: 2px;
  border: 0;
  border-bottom: 1px solid grey;
}

button,
input,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='reset'],
[type='submit'],
[type='button'] {
  cursor: pointer;
  user-select: none;
}

[disabled] {
  cursor: not-allowed;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

* {
  font-family: "Roboto", "Arial", "Verdana", sans-serif !important;
  color: #222831;
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

*,
*:hover,
*:focus,
*:active {
  outline: none !important;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #F0F0F2;
}

a,
a:hover,
a:focus {
  transition: all .3s ease;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.group {
  font: 0/0 a;
  position: relative;
}

.group {
  margin-bottom: 20px;
}

.group:last-child {
  margin-bottom: 0;
}

.group .label {
  font: 500 14px / 16px "";
  margin-bottom: 4px;
}

.group hr {
  border-color: #DDDDDD;
}

.group.title {
  font: 500 16px / 20px "";
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
}

.group.description {
  font: 400 14px / 20px "";
  text-align: center;
  text-align-last: center;
}

.group.justify {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

.group.justify:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.group.justify > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
}

.group.justify a {
  font: 500 12px / 10px "";
  text-transform: uppercase;
  transition: color .3s ease;
}

.group.justify a:hover {
  color: #579EFF;
}

.group.justify span:first-child {
  display: none;
}

.group.justify span:last-child {
  display: none;
}

.group textarea,
.group [type='text'],
.group [type='email'],
.group [type='search'],
.group [type='password'] {
  font: 400 14px/normal "";
  width: 100%;
  height: 34px;
  padding: 0 10px;
  transition: border .3s ease;
  border: 2px solid #DDDDDD;
  border-radius: 3px;
  background-color: #fff;
  display: block;
  appearance: none;
}

.group textarea:focus,
.group [type='text']:focus,
.group [type='email']:focus,
.group [type='search']:focus,
.group [type='password']:focus {
  border-color: #579EFF;
}

.group textarea:hover,
.group [type='text']:hover,
.group [type='email']:hover,
.group [type='search']:hover,
.group [type='password']:hover {
  border-color: #579EFF;
}

.group textarea {
  height: 120px;
  padding: 10px;
  resize: none;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.check,
.radio {
  position: relative;
  display: block;
  height: 20px;
}

.check label,
.radio label {
  font: 0/0 a;
  display: block;
  cursor: pointer;
}

.check label *,
.radio label * {
  display: inline-block;
  vertical-align: middle;
}

.check label input,
.radio label input {
  display: none;
}

.check label div,
.radio label div {
  width: 20px;
  height: 20px;
  position: relative;
  transition: box-shadow .3s ease;
  border: 0;
  background: #fff;
  box-shadow: inset 0 0 0 2px #DDDDDD;
}

.check label div:before,
.radio label div:before {
  width: 0;
  height: 0;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  content: '';
  transition: height .2s linear, width .2s linear, background .2s linear;
  background: #fff;
}

.check label span,
.radio label span {
  font: 400 14px / 20px "";
  margin-left: 5px;
}

.radio label div,
.radio label div:before {
  border-radius: 50%;
}

.check label input:hover + div,
.check label input:checked + div,
.radio label input:hover + div,
.radio label input:checked + div {
  box-shadow: inset 0 0 0 2px #579EFF;
}

.check label input:checked + div:before,
.radio label input:checked + div:before {
  width: 50%;
  height: 50%;
  background: #579EFF;
}

.check-ver,
.radio-ver {
  display: block !important;
}

.check-ver,
.radio-ver {
  margin-bottom: 5px;
}

.check-ver:last-child,
.radio-ver:last-child {
  margin-bottom: 0;
}

.check-hor,
.radio-hor {
  display: inline-block !important;
}

.check-hor,
.radio-hor {
  margin-right: 10px;
}

.check-hor:last-child,
.radio-hor:last-child {
  margin-right: 0;
}

.check-center,
.radio-center {
  width: 100%;
  height: 20px;
  font: 0/0 a;
  display: block;
  text-align: center;
  text-align-last: center;
}

.check-center > div,
.radio-center > div {
  display: inline-block;
  vertical-align: middle;
}

.file {
  width: 100%;
  height: 34px;
  font: 0/0 a;
  overflow: hidden;
  cursor: pointer;
}

.file input {
  display: none;
}

.file .name,
.file .button {
  display: inline-block;
  vertical-align: top;
}

.file .name {
  width: calc(100% - 120px);
  height: 34px;
  padding: 0 10px;
  transition: border .3s ease;
  border: 2px solid #DDDDDD;
  border-radius: 3px;
  background-color: #fff;
  font: 400 14px / 30px "";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.file .name:focus {
  border-color: #579EFF;
}

.file .name:hover {
  border-color: #579EFF;
}

.file .button {
  font: 700 14px / 34px "";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  color: #fff;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  transition: background .3s ease;
  background: #579EFF;
}

.file:hover .name {
  border-color: #579EFF;
}

.select {
  width: 100%;
  height: 34px;
  padding: 0 10px;
  transition: border .3s ease;
  border: 2px solid #DDDDDD;
  border-radius: 3px;
  background-color: #fff;
  font: 400 14px/normal "";
  padding: 0;
  overflow: hidden;
  background: url(../svg/ui/drop-down.svg) no-repeat calc(100% - 10px) center;
  background-color: #fff;
}

.select:focus {
  border-color: #579EFF;
}

.select:hover {
  border-color: #579EFF;
}

.select select {
  width: calc(100% + 60px);
  height: 100%;
  line-height: 100%;
  display: block;
  padding: 0 10px;
  border: 0;
  background: transparent;
  appearance: none;
  cursor: pointer;
}

.select:hover {
  border: 2px solid #579EFF;
}

.btn-left,
.btn-right,
.btn-center {
  font: 0/0 a;
}

.btn-left {
  text-align: left;
}

.btn-right {
  text-align: right;
}

.btn-center {
  text-align: center;
}

.btn-justify {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

.btn-justify:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.btn-justify > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
}

.btn-left input,
.btn-right input,
.btn-center input {
  margin-right: 10px;
}

.btn-left input:last-child,
.btn-right input:last-child,
.btn-center input:last-child {
  margin-right: 0;
}

.btn-fluid input {
  width: 100%;
}

.btn-fluid input {
  margin-bottom: 10px;
}

.btn-fluid input:last-child {
  margin-bottom: 0;
}

[type='reset'],
[type='submit'],
[type='button'] {
  font: 700 14px / 40px "";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 0 15px;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  transition: background .3s ease;
  background: #579EFF;
}

[type='reset']:hover,
[type='submit']:hover,
[type='button']:hover {
  background: #84C7FF;
}

.error,
.ng-invalid.ng-touched {
  border-color: #F44336 !important;
}

.ng-submitted .ng-invalid {
  border-color: #F44336 !important;
}

.blackout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
}

.window {
  z-index: 901;
  box-shadow: 0 0 135px 5px rgba(0, 0, 0, 0.8);
  padding: 30px;
  background: #fff;
}

@media (max-height: 649px) {
  .window {
    width: 100%;
    height: auto;
    max-height: 100%;
    position: static;
    overflow-y: scroll;
  }
}

@media (min-height: 650px) {
  .window {
    width: 340px;
    height: auto;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
}

.window .data-list {
  margin-bottom: 20px;
}

.window .data-list div {
  font: 0/0 a;
  text-align: justify;
  text-align-last: left;
}

.window .data-list div {
  margin-bottom: 10px;
}

.window .data-list div:last-child {
  margin-bottom: 0;
}

.window .data-list div span {
  font: 400 13px / 16px "";
}

.window .data-list div .title {
  margin-right: 5px;
  font-weight: 500;
}

.header {
  width: 100%;
  height: 90px;
  position: relative;
}

.head1 .header {
  background: #393E46;
}

.head2 .header {
  background: transparent;
}

@media (max-width: 999px) {
  .header .header-wrapper {
    padding: 10px 20px;
  }
}

@media (min-width: 1000px) {
  .header .header-wrapper {
    padding: 10px 0;
  }
}

.header .logotype {
  width: 123px;
  height: 70px;
}

.header path {
  fill: #fff;
}

.header nav {
  font: 0/0 a;
  padding: 26px 0;
}

.header nav > * {
  font: 500 12px / 19px "";
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
}

.header .phone {
  position: relative;
  height: 19px;
  vertical-align: middle;
}

.header .phone,
.header .phone * {
  transition: all .3s ease-in-out;
}

.header .phone-icon {
  line-height: normal;
  height: 19px;
}

.header .phone-icon path {
  fill: #fff;
}

.header .phone-icon:hover path {
  fill: #579EFF;
}

.header .phone-popup {
  position: absolute;
  bottom: 50%;
  transform: translate(0, 50%);
  font: 500 14px / 36px "";
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  width: 225px;
  right: 26px;
  text-align: center;
  text-align-last: center;
  white-space: nowrap;
  opacity: 0;
  color: #000;
  border-radius: 3px;
  background: #fff;
}

.header .phone-icon:hover + .phone-popup {
  opacity: 1;
}

.header a {
  margin-bottom: -2px;
}

.header a:hover {
  color: #579EFF;
}

.header .separate {
  width: 4px;
  height: 4px;
  margin: 0 7px;
  opacity: .5;
  border-radius: 50%;
  background: #fff;
}

.header .show-md {
  font: 0/0 a;
  padding: 26px 0;
  color: #fff;
}

.header .show-md span {
  font: 500 16px / 19px "";
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  margin-left: 5px;
  color: #fff;
}

.header .show-md span svg,
.header .show-md span svg path {
  fill: #fff;
}

.header .show-md div:hover span {
  color: #579EFF;
}

.header .show-md div:hover span svg,
.header .show-md div:hover span svg path {
  fill: #579EFF;
}

.header .menu-fixed-dark {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 898;
  background: rgba(57, 62, 70, 0.7);
}

.header .menu-fixed-cross {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 260px;
  z-index: 899;
}

.header .menu-fixed-cross svg,
.header .menu-fixed-cross svg path {
  fill: #fff;
}

.header .menu-fixed-cross:hover svg,
.header .menu-fixed-cross:hover svg path {
  fill: #579EFF;
}

.header .menu-fixed {
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 899;
  background: #222831;
}

.header .menu-fixed div {
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: 100%;
}

.header .menu-fixed div ul {
  display: block;
  margin: 30px;
  padding: 0;
}

.header .menu-fixed div ul * {
  width: 100%;
  color: #fff;
}

.header .menu-fixed div ul > * {
  margin-bottom: 7px;
}

.header .menu-fixed div ul a {
  font: 500 16px/normal "";
  text-align: left;
  text-align-last: left;
  text-transform: uppercase;
}

.header .menu-fixed div ul a:hover {
  color: #579EFF;
}

.header .menu-fixed div ul hr {
  border-color: rgba(255, 255, 255, 0.15);
  margin-top: 15px;
  margin-bottom: 15px;
}

.header .menu-fixed div ul .phone-nubmer {
  font: 500 20px/normal "";
  text-align: center;
  text-align-last: center;
  text-decoration: none !important;
}

@media (max-width: 999px) {
  .header.head-back .logotype {
    float: right;
  }
}

@media (min-width: 1000px) {
  .header.head-back .logotype {
    margin: 0 auto;
  }
}

.header.head-back .back-link {
  font: 0/0 a;
  position: absolute;
  bottom: 50%;
  transform: translate(0, 50%);
  color: #fff;
}

.header.head-back .back-link span {
  font: 500 16px / 19px "";
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  margin-right: 3px;
  text-transform: uppercase;
  color: #fff;
}

.header.head-back .back-link span svg,
.header.head-back .back-link span svg path {
  fill: #fff;
}

.header.head-back .back-link:hover span {
  color: #579EFF;
}

.header.head-back .back-link:hover span svg,
.header.head-back .back-link:hover span svg path {
  fill: #579EFF;
}

.header.head-back .back-link span,
.header.head-back .back-link span svg,
.header.head-back .back-link span svg path {
  transition: all .3s ease-in-out;
}

.header.head-logo .logotype {
  margin: 0 auto;
}

.header-block {
  background: url("") no-repeat center top;
  background-size: cover;
}

.header-block .title,
.header-block .description {
  margin: 0 auto;
  padding: 10px 0 20px 0;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.header-block .title {
  font: 500 42px / 60px "Rubik";
}

.header-block .description {
  font: 500 14px / 16px "Rubik";
  width: 300px;
}

.footer {
  width: 100%;
  background: #393E46;
}

@media (max-width: 999px) {
  .footer .footer-wrapper {
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  .footer .footer-wrapper {
    padding: 30px 0;
  }
}

@media (max-width: 899px) {
  .footer .footer-wrapper > * {
    margin-bottom: 20px;
  }
  .footer .footer-wrapper > *:last-child {
    margin-bottom: 0;
  }
}

.footer .footer-wrapper {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

.footer .footer-wrapper:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.footer .footer-wrapper > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
}

.footer .footer-wrapper > * {
  font: 400 14px / 16px "";
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 459px) {
  .footer .about {
    width: 100%;
  }
}

@media (min-width: 460px) {
  .footer .about {
    width: 55%;
  }
}

.footer .title,
.footer .about-us,
.footer .copyright,
.footer .links a {
  display: block;
  color: #eee;
}

.footer .about-us,
.footer .links a {
  opacity: .7;
}

.footer .title {
  font: 500 16px / 19px "";
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer .about-us {
  font: 500 12px / 14px "";
  margin-bottom: 20px;
  text-align: justify;
}

.footer .copyright {
  font: 500 14px / 16px "";
}

.footer .links a {
  font: 500 12px / 14px "";
  margin-bottom: 5px;
  text-transform: capitalize;
}

.footer .links a:hover {
  color: #579EFF;
}

@media (max-width: 459px) {
  .footer .title {
    font-size: 15px;
    line-height: 18px;
  }
  .footer .about-us {
    font-size: 11px;
    line-height: 13px;
  }
  .footer .copyright {
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    text-align-last: center;
  }
  .hide-footer {
    display: none !important;
  }
}

@media (max-width: 899px) {
  .footer form {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .footer form {
    width: 200px;
  }
}

.footer ::-webkit-input-placeholder {
  color: #393e46;
}

.footer ::-moz-placeholder {
  color: #393e46;
}

.footer ::placeholder {
  color: #393e46;
}

.footer :-ms-input-placeholder {
  color: #393e46;
}

.footer input {
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 3px;
}

.footer input {
  margin-bottom: 10px;
}

.footer input:last-child {
  margin-bottom: 0;
}

.footer [type='text'] {
  font: 400 13px/normal "";
  padding: 0 8px;
  color: #eee;
  border: 2px solid #222831;
  background: #222831;
}

.footer [type='submit'] {
  font: 500 14px/normal "";
  transition: background .3s ease-in-out;
  text-align: center;
  text-align-last: center;
  color: #fff;
  border: 0;
  background: #579EFF;
}

.footer [type='submit']:hover {
  background: #84C7FF;
}

.wrapper-table {
  width: 100%;
  height: 100%;
  display: table;
}

.wrapper-table > .content {
  display: table-row;
  height: 100%;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}

.container:after, .container:before {
  display: table;
  content: ' ';
}

.container:after {
  clear: both;
}

.container .wrapper {
  position: relative;
  width: 100%;
}

@media (max-width: 999px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 960px;
  }
}

.show-lg,
.show-md,
.show-inline-lg,
.show-inline-md {
  display: none !important;
}

@media (max-width: 999px) {
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
  .show-inline-md {
    display: inline-block !important;
  }
}

@media (min-width: 1000px) {
  .hide-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
  .show-inline-lg {
    display: inline-block !important;
  }
}

.top-cut,
.bot-cut {
  width: 100%;
  height: 40px;
  position: absolute;
  background-size: cover;
}

.top-cut {
  top: -1px;
}

.bot-cut {
  bottom: -1px;
}

.top-cut path,
.bot-cut path {
  fill: #F0F0F2;
}

@media (max-width: 999px) {
  .top-cut,
  .bot-cut {
    display: none;
  }
}

.ws-page .wrapper {
  font: 0/0 a;
  padding: 20px;
  text-align: center;
  text-align-last: center;
}

.ws-page aside,
.ws-page section {
  display: inline-block;
  vertical-align: top;
  margin-bottom: -20px;
  text-align: left;
  text-align-last: left;
}

.ws-page aside > *,
.ws-page section > * {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
  .ws-page.fluid aside {
    width: 100%;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .ws-page.fluid aside {
    width: 200px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .ws-page.fluid section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .ws-page.fluid section {
    width: calc(100% - 220px);
  }
}

@media (max-width: 479px) {
  .ws-page.fixed aside {
    width: 220px;
    margin-bottom: 0;
  }
}

@media (min-width: 480px) {
  .ws-page.fixed aside {
    width: 200px;
    margin-right: 20px;
  }
}

@media (max-width: 479px) {
  .ws-page.fixed section {
    width: 220px;
  }
}

@media (min-width: 480px) and (max-width: 719px) {
  .ws-page.fixed section {
    width: 220px;
  }
}

@media (min-width: 720px) and (max-width: 959px) {
  .ws-page.fixed section {
    width: 460px;
  }
}

@media (min-width: 960px) {
  .ws-page.fixed section {
    width: 700px;
  }
}

.ws-page aside .links a {
  font: 500 14px / 16px "";
  color: #fff;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  background: #579EFF;
}

.ws-page aside .links a {
  margin-bottom: 20px;
}

.ws-page aside .links a:last-child {
  margin-bottom: 0;
}

.ws-page aside .links a:hover {
  background: #84C7FF;
}

.ws-page aside .filters .group {
  margin-bottom: 20px;
}

.ws-page aside .filters .group:last-child {
  margin-bottom: -10px;
}

.ws-page aside .filters .slider {
  width: 100%;
}

.ws-page aside .filters .slider .title,
.ws-page aside .filters .slider .price {
  font: 500 14px / 12px "";
  height: 12px;
  cursor: default;
  user-select: none;
  text-transform: uppercase;
}

.ws-page aside .filters .slider .title {
  margin-bottom: 10px;
}

.ws-page aside .filters .slider slider {
  width: 100%;
  height: 4px;
  position: relative;
  display: block;
  margin: 14px 0;
}

.ws-page aside .filters .slider slider div {
  position: absolute;
  white-space: nowrap;
}

.ws-page aside .filters .slider slider .bar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #DDDDDD;
  border-radius: 0;
}

.ws-page aside .filters .slider slider .bar .selection {
  width: 0%;
  height: 100%;
  background: #84C7FF;
}

.ws-page aside .filters .slider slider .handle {
  width: 16px;
  height: 16px;
  z-index: 2;
  top: -6px;
  cursor: pointer;
  border: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.ws-page aside .filters .slider slider .handle:after {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border-radius: 50%;
  background-color: transparent;
}

.ws-page aside .filters .slider slider .handle:after:hover,
.ws-page aside .filters .slider slider .handle.active:after {
  background-color: transparent;
}

.ws-page aside .filters .slider slider .bubble,
.ws-page aside .filters .slider slider .bubble.active,
.ws-page aside .filters .slider slider .bubble.limit {
  display: none;
}

.ws-page aside .filters .switch {
  width: 100%;
  height: 16px;
  position: relative;
  margin-bottom: 10px;
}

.ws-page aside .filters .switch label {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.ws-page aside .filters .switch span {
  font: 500 14px / 16px "";
}

.ws-page aside .filters .switch input {
  display: none;
}

.ws-page aside .filters .switch div {
  width: 28px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  background: #DDDDDD;
  transition: all .3s ease;
}

.ws-page aside .filters .switch div > div {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: #fff;
  content: '';
  transition: all .3s ease;
}

.ws-page aside .filters .switch input:checked + div {
  background: #579EFF;
}

.ws-page aside .filters .switch input:checked + div > div {
  transform: translateX(12px);
}

.lp-home .block1 {
  position: relative;
  width: 100%;
  background: url(../img/bg/page1-1.jpg) no-repeat center top;
  background-size: cover;
}

@media (max-width: 999px) {
  .lp-home .block1 {
    min-height: 550px !important;
  }
}

.lp-home .block1 .container {
  height: calc(100% - 130px);
}

.lp-home .block1 .container .wrapper {
  position: relative;
  height: 100%;
}

.lp-home .block1 .mind {
  width: 100%;
  text-align: center;
}

@media (max-width: 999px) {
  .lp-home .block1 .mind {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    padding: 20px;
    transform: translate(0, -50%);
  }
}

@media (min-width: 1000px) {
  .lp-home .block1 .mind {
    position: absolute;
    top: calc(50% - 45px);
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.lp-home .block1 .mind .title {
  font: 500 40px / 48px "";
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 999px) {
  .lp-home .block1 .mind .title {
    font-size: 26px;
    line-height: 28px;
  }
}

.lp-home .block1 .mind .descr {
  font: 0/0 a;
  margin-bottom: 16px;
}

.lp-home .block1 .mind .descr div {
  font: 500 16px / 20px "";
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 999px) {
  .lp-home .block1 .mind .descr div {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 800px) {
  .lp-home .block1 .mind .descr div {
    display: inline;
  }
}

.lp-home .block1 .mind form {
  font: 0/0 a;
  width: 100%;
  margin-bottom: 10px;
}

.lp-home .block1 .mind form input {
  width: 200px;
  height: 36px;
  font: 400 13px/normal "";
  border-radius: 3px;
}

@media (max-width: 999px) {
  .lp-home .block1 .mind form input {
    display: block;
    width: 80%;
    margin: 0 auto 10px auto !important;
  }
}

@media (min-width: 1000px) {
  .lp-home .block1 .mind form input {
    display: inline-block;
    vertical-align: top;
  }
}

.lp-home .block1 .mind form [type='text'] {
  margin-right: 10px;
  padding: 0 8px;
  color: #000;
  border: 2px solid #fff;
  background: #fff;
}

.lp-home .block1 .mind form [type='submit'] {
  font-weight: 500;
  width: 126px;
  color: #fff;
  border: 0;
  background: #579EFF;
}

.lp-home .block1 .mind form [type='submit']:hover {
  background: #84C7FF;
}

.lp-home .block1 .mind form ::-webkit-input-placeholder {
  color: #cccccc;
}

.lp-home .block1 .mind form ::-moz-placeholder {
  color: #cccccc;
}

.lp-home .block1 .mind form ::placeholder {
  color: #cccccc;
}

.lp-home .block1 .mind form :-ms-input-placeholder {
  color: #cccccc;
}

.lp-home .block1 .mind .help {
  font: 0/0 a;
}

.lp-home .block1 .mind .help a,
.lp-home .block1 .mind .help span {
  font: 400 13px / 14px "Rubik";
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.lp-home .block1 .mind .help a {
  margin-right: 5px;
  color: #579EFF;
}

.lp-home .block1 .mind .help a:hover {
  color: #84C7FF;
}

.lp-home .block1 .scroll {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  bottom: 60px;
  width: 30px;
}

.lp-home .block1 .scroll path {
  fill: #fff;
}

@media (max-width: 999px) {
  .lp-home .block1 .scroll {
    display: none;
  }
}

@media (min-width: 1000px) {
  .lp-home .block1 .scroll {
    display: block;
  }
}

.lp-home .block2 {
  background: #F0F0F2;
}

.lp-home .block2 article {
  width: 100%;
  height: 299px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font: 0/0 a;
}

@media (max-width: 999px) {
  .lp-home .block2 article {
    height: auto;
  }
  .lp-home .block2 article .img,
  .lp-home .block2 article .info {
    float: none !important;
    height: auto;
  }
  .lp-home .block2 article:first-child, .lp-home .block2 article:last-child {
    padding: 15px;
  }
}

@media (min-width: 1000px) {
  .lp-home .block2 article {
    height: 299px;
  }
  .lp-home .block2 article:first-child {
    padding: 50px 0 30px 0;
  }
  .lp-home .block2 article:last-child {
    padding: 30px 0 50px 0;
  }
}

.lp-home .block2 article .img,
.lp-home .block2 article .info {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 999px) {
  .lp-home .block2 article .img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1000px) {
  .lp-home .block2 article .img {
    width: 390px;
    height: 219px;
  }
}

.lp-home .block2 article .img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 390px;
  height: auto;
  border-radius: 5px;
}

.lp-home .block2 article .info {
  margin-top: 20px;
}

@media (max-width: 999px) {
  .lp-home .block2 article .info {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .lp-home .block2 article .info {
    width: 540px;
  }
}

@media (min-width: 1000px) {
  .lp-home .block2 article.left-to-right .info {
    margin-left: 30px;
  }
  .lp-home .block2 article.right-to-left .info {
    margin-right: 30px;
  }
}

.lp-home .block2 article .info .title {
  font: 500 19px / 22px "";
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 999px) {
  .lp-home .block2 article .info .title {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-align-last: center;
  }
}

.lp-home .block2 article .info .descr {
  font: 400 14px / 19px "";
  text-align: justify;
}

@media (max-width: 999px) {
  .lp-home .block2 article .info .descr {
    font-size: 14px;
    line-height: 17px;
    text-align-last: center;
  }
}

.lp-home .block2 article .info hr {
  border-color: #DDDDDD;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lp-home .block3 {
  position: relative;
  background: url(../img/bg/page1-2.jpg) no-repeat center top, #F0F0F2;
  background-size: cover;
}

@media (max-width: 999px) {
  .lp-home .block3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1000px) {
  .lp-home .block3 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.lp-home .block3 .title {
  font: 400 40px / 47px "Rubik";
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 999px) {
  .lp-home .block3 .title {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 32px;
  }
}

.lp-home .block3 .steps {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

.lp-home .block3 .steps:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.lp-home .block3 .steps div,
.lp-home .block3 .steps div * {
  font: 0/0 a;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
}

@media (max-width: 999px) {
  .lp-home .block3 .steps > div {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .lp-home .block3 .steps > div:last-of-type {
    margin: 0;
  }
}

@media (min-width: 1000px) {
  .lp-home .block3 .steps > div {
    width: 300px;
  }
}

.lp-home .block3 .steps img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #579EFF;
}

@media (max-width: 999px) {
  .lp-home .block3 .steps img {
    margin: 0;
  }
}

@media (min-width: 1000px) {
  .lp-home .block3 .steps img {
    margin-top: 11px;
  }
}

.lp-home .block3 .steps .text {
  margin-left: 10px;
}

@media (max-width: 999px) {
  .lp-home .block3 .steps .text {
    width: calc(100% - 74px);
  }
}

@media (min-width: 1000px) {
  .lp-home .block3 .steps .text {
    width: 226px;
  }
}

.lp-home .block3 .steps .title,
.lp-home .block3 .steps .descr {
  color: #fff;
  text-align: left;
  text-align-last: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.lp-home .block3 .steps .title {
  font: 500 18px / 25px "Rubik";
  margin-bottom: 4px;
  padding: 0;
}

.lp-home .block3 .steps .descr {
  font: 400 14px / 20px "Rubik";
}

.lp-home .block4 {
  position: relative;
  padding: 20px 0;
  background: #F0F0F2;
}

.lp-home .block4 .benefit {
  font: 0/0 a;
  width: 100%;
}

.lp-home .block4 .benefit > div {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 999px) {
  .lp-home .block4 .benefit > div {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent !important;
  }
}

@media (min-width: 1000px) {
  .lp-home .block4 .benefit > div {
    width: 288px;
    height: 240px;
    margin-right: 48px;
  }
  .lp-home .block4 .benefit > div:last-of-type {
    margin: 0;
  }
}

.lp-home .block4 .knight1 {
  background: url(../img/knight/grey/bowing.jpg) no-repeat center center !important;
}

.lp-home .block4 .knight2 {
  background: url(../img/knight/grey/fighting.jpg) no-repeat center center !important;
}

.lp-home .block4 .knight3 {
  background: url(../img/knight/grey/kneeling.jpg) no-repeat center center !important;
}

.lp-home .block4 .knight4 {
  background: url(../img/knight/grey/lifting-visor.jpg) no-repeat center center !important;
}

.lp-home .block4 .knight5 {
  background: url(../img/knight/grey/pointing.jpg) no-repeat center center !important;
}

.lp-home .block4 .knight6 {
  background: url(../img/knight/grey/slashing.jpg) no-repeat center center !important;
}

.lp-home .block4 .knight7 {
  background: url(../img/knight/grey/striking.jpg) no-repeat center center !important;
}

.lp-home .block4 .knight8 {
  background: url(../img/knight/grey/superhero-stance.jpg) no-repeat center center !important;
}

.lp-home .block4 .knight9 {
  background: url(../img/knight/grey/with-horse.jpg) no-repeat center center !important;
}

.lp-home .block4 .benefit .title,
.lp-home .block4 .benefit .descr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 288px;
  text-align: center;
  text-align-last: center;
}

.lp-home .block4 .benefit .title {
  font: 500 20px / 23px "";
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #579EFF;
}

@media (max-width: 999px) {
  .lp-home .block4 .benefit .title {
    margin-bottom: 5px;
  }
}

.lp-home .block4 .benefit .descr {
  font: 400 14px / 16px "";
  color: #222831;
}

@media (max-width: 999px) {
  .lp-home .block4 .benefit .descr {
    text-align: justify;
  }
}

.lp-home .block5 {
  position: relative;
  background: url(../img/bg/page1-3.jpg) no-repeat center top, #F0F0F2;
  background-size: cover;
}

@media (max-width: 999px) {
  .lp-home .block5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1000px) {
  .lp-home .block5 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.lp-home .block5 .title {
  font: 400 40px / 47px "Rubik";
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  text-align-last: center;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 999px) {
  .lp-home .block5 .title {
    font-size: 32px;
    padding: 0 20px;
  }
}

.lp-home .block5 article {
  font: 0/0 a;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 999px) {
  .lp-home .block5 article {
    height: auto;
  }
}

@media (min-width: 1000px) {
  .lp-home .block5 article {
    height: 240px;
  }
}

.lp-home .block5 article .img,
.lp-home .block5 article .machine {
  display: inline-block;
  vertical-align: top;
}

.lp-home .block5 article .img {
  overflow: hidden;
}

@media (max-width: 999px) {
  .lp-home .block5 article .img {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .lp-home .block5 article .img {
    width: 240px;
  }
}

.lp-home .block5 article .img img {
  width: 240px;
  height: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.lp-home .block5 article .machine {
  font: 0/0 a;
}

.lp-home .block5 article .machine .top,
.lp-home .block5 article .machine .mid,
.lp-home .block5 article .machine .bot {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 999px) {
  .lp-home .block5 article .machine {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 1000px) {
  .lp-home .block5 article .machine {
    width: 700px;
    height: 240px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.lp-home .block5 article .machine .top {
  font: 0/0 a;
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  width: 100%;
  margin-bottom: 20px;
}

.lp-home .block5 article .machine .top:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.lp-home .block5 article .machine .top > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
}

.lp-home .block5 article .machine .top .model,
.lp-home .block5 article .machine .top .price {
  display: inline-block;
  vertical-align: top;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.lp-home .block5 article .machine .top .model {
  font: 500 16px / 22px "";
  color: #fff;
}

.lp-home .block5 article .machine .top .price {
  font: 500 18px / 22px "";
  color: #579EFF;
}

@media (max-width: 999px) {
  .lp-home .block5 article .machine .top {
    display: none;
  }
}

.lp-home .block5 article .machine .mid {
  font: 400 14px / 20px "";
  width: 100%;
  margin-bottom: 20px;
  text-align: justify;
  text-align-last: left;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

@media (max-width: 999px) {
  .lp-home .block5 article .machine .mid {
    height: auto;
  }
}

@media (min-width: 1000px) {
  .lp-home .block5 article .machine .mid {
    height: 98px;
  }
}

.lp-home .block5 article .machine .bot {
  width: 100%;
}

@media (max-width: 999px) {
  .lp-home .block5 article .machine .bot {
    font: 0/0 a;
    text-align: justify;
    text-align-last: justify;
    text-justify: newspaper;
  }
  .lp-home .block5 article .machine .bot:after {
    display: inline-block;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: '';
  }
}

@media (min-width: 1000px) {
  .lp-home .block5 article .machine .bot {
    text-align: right;
  }
}

.lp-home .block5 article .machine .bot span {
  width: 90px;
  height: 40px;
  font: 500 15px / 35px "";
  display: inline-block;
  vertical-align: top;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  border: 3px solid #579EFF;
  border-radius: 3px;
  background: transparent;
  transition: border .3s ease-in-out, background .3s ease-in-out;
}

.lp-home .block5 article .machine .bot span {
  margin-right: 20px;
}

.lp-home .block5 article .machine .bot span:last-child {
  margin-right: 0;
}

.lp-home .block5 article .machine .bot span:hover {
  background: #579EFF;
}

.lp-home .block6 {
  background: #F0F0F2;
}

.lp-home .block6 .accredition {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  padding: 20px;
}

.lp-home .block6 .accredition:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.lp-home .block6 .accredition > * {
  display: inline-block;
  vertical-align: none;
  text-align: left;
  text-align-last: left;
}

@media (max-width: 999px) {
  .lp-home .block6 .accredition {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .lp-home .block6 .accredition {
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
  }
}

.lp-home .block6 .accredition img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-align-last: center;
}

@media (max-width: 999px) {
  .lp-home .block6 .accredition img {
    margin-bottom: 10px;
  }
  .lp-home .block6 .accredition img:last-of-type {
    margin-bottom: 0;
  }
}

.lp-rental-program .rent-catalog .header-block {
  background-image: url(../img/bg/page2-1.jpg);
}

@media (max-width: 999px) {
  .lp-rental-program .rent-catalog .header-block {
    margin-bottom: 35px;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-catalog .header-block {
    margin-bottom: 55px;
  }
}

.lp-rental-program .rent-catalog .header-block .preview {
  font: 0/0 a;
  position: relative;
  text-align: center;
  text-align-last: center;
}

@media (max-width: 999px) {
  .lp-rental-program .rent-catalog .header-block .preview {
    height: 115px;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-catalog .header-block .preview {
    height: 145px;
  }
}

@media (max-width: 999px) {
  .lp-rental-program .rent-catalog .header-block .preview .preview-wrapper {
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-catalog .header-block .preview .preview-wrapper {
    width: 100%;
    height: auto;
    position: relative;
  }
}

.lp-rental-program .rent-catalog .header-block .preview img {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
}

@media (max-width: 999px) {
  .lp-rental-program .rent-catalog .header-block .preview img {
    width: 160px;
    height: 160px;
    position: absolute;
    transition: right .5s ease-in-out, transform .5s ease-in-out;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-catalog .header-block .preview img {
    width: 200px;
    height: 200px;
    margin-right: 60px;
    margin-left: 60px;
  }
}

@media (max-width: 999px) {
  .lp-rental-program .rent-catalog .header-block .preview img.enabled {
    right: 50%;
    transform: translateX(50%);
  }
  .lp-rental-program .rent-catalog .header-block .preview img.disabled-left {
    right: 120%;
    transform: translateX(0);
  }
  .lp-rental-program .rent-catalog .header-block .preview img.disabled-right {
    right: -120%;
    transform: translateX(0);
  }
}

.lp-rental-program .rent-catalog .header-block .preview .left-btn,
.lp-rental-program .rent-catalog .header-block .preview .right-btn {
  position: absolute;
  bottom: -35px;
  z-index: 10;
  cursor: pointer;
  margin: -10px 40px;
  padding: 10px;
}

@media (max-width: 999px) {
  .lp-rental-program .rent-catalog .header-block .preview .left-btn,
  .lp-rental-program .rent-catalog .header-block .preview .right-btn {
    display: block;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-catalog .header-block .preview .left-btn,
  .lp-rental-program .rent-catalog .header-block .preview .right-btn {
    display: none;
  }
}

.lp-rental-program .rent-catalog .header-block .preview .left-btn.disable,
.lp-rental-program .rent-catalog .header-block .preview .right-btn.disable {
  display: none;
}

.lp-rental-program .rent-catalog .header-block .preview .left-btn path,
.lp-rental-program .rent-catalog .header-block .preview .right-btn path {
  fill: #579EFF;
}

.lp-rental-program .rent-catalog .header-block .preview .left-btn {
  left: 0;
}

.lp-rental-program .rent-catalog .header-block .preview .right-btn {
  right: 0;
}

.lp-rental-program .rent-catalog .wrapper {
  font: 0/0 a;
  text-align: center;
  text-align-last: center;
}

.lp-rental-program .rent-catalog .machine {
  display: inline-block;
  vertical-align: top;
}

.lp-rental-program .rent-catalog .machine > * {
  margin-bottom: 20px;
}

.lp-rental-program .rent-catalog .machine > *:last-child {
  margin-bottom: 0;
}

@media (max-width: 999px) {
  .lp-rental-program .rent-catalog .machine {
    width: 280px;
    margin: 20px 0;
  }
  .lp-rental-program .rent-catalog .machine.hide-machine {
    display: none;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-catalog .machine {
    width: 280px;
    margin: 20px;
  }
  .lp-rental-program .rent-catalog .machine.hide-machine {
    display: inline-block;
  }
}

.lp-rental-program .rent-catalog .machine hr {
  width: 100%;
  height: 1px;
  margin: 20px 0 !important;
  padding: 0 !important;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
}

.lp-rental-program .rent-catalog .machine .title {
  font: 600 28px / 40px "";
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
}

@media (max-width: 999px) {
  .lp-rental-program .rent-catalog .machine .title {
    font-size: 23px;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-catalog .machine .title {
    font-size: 28px;
  }
}

.lp-rental-program .rent-catalog .machine .info {
  width: 100%;
  height: 28px;
  position: relative;
}

.lp-rental-program .rent-catalog .machine .info .every,
.lp-rental-program .rent-catalog .machine .info .ships,
.lp-rental-program .rent-catalog .machine .info .price {
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
}

.lp-rental-program .rent-catalog .machine .info .every,
.lp-rental-program .rent-catalog .machine .info .ships {
  position: absolute;
  top: 0;
}

.lp-rental-program .rent-catalog .machine .info .every div,
.lp-rental-program .rent-catalog .machine .info .ships div {
  font: 600 12px / 14px "";
  color: #bbb;
}

.lp-rental-program .rent-catalog .machine .info .every {
  left: 33px;
  transform: translate(-50%, 0);
}

.lp-rental-program .rent-catalog .machine .info .ships {
  right: 33px;
  transform: translate(50%, 0);
}

.lp-rental-program .rent-catalog .machine .info .price {
  font: 600 24px / 28px "";
  color: #579EFF;
}

.lp-rental-program .rent-catalog .machine .select-btn {
  width: 100%;
  height: 45px;
  position: relative;
  text-align: center;
  text-align-last: center;
}

.lp-rental-program .rent-catalog .machine .select-btn:after {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0;
  display: block;
  opacity: .1;
  background: #000;
  z-index: 1;
  content: '';
}

.lp-rental-program .rent-catalog .machine .select-btn a {
  font: 500 18px / 45px "";
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background: #579EFF;
  box-shadow: 20px 0 0 #F0F0F2, -20px 0 0 #F0F0F2;
  z-index: 2;
}

.lp-rental-program .rent-catalog .machine .select-btn a:hover {
  padding-right: 40px;
  padding-left: 40px;
  background: #84C7FF;
  box-shadow: 10px 0 0 #F0F0F2, -10px 0 0 #F0F0F2;
}

.lp-rental-program .rent-catalog .machine .descr {
  font: 500 14px / 20px "";
  color: #aaa;
  text-align: center;
  text-align-last: center;
}

@media (max-width: 999px) {
  .lp-rental-program .rent-catalog .machine .descr {
    height: auto;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-catalog .machine .descr {
    height: 100px;
  }
}

.lp-rental-program .rent-catalog .machine ul {
  text-align: center;
}

.lp-rental-program .rent-catalog .machine ul li,
.lp-rental-program .rent-catalog .machine ul li:before {
  font: 500 14px / 14px "";
  display: inline-block;
  vertical-align: middle;
  color: #aaa;
  text-align: center;
  text-align-last: center;
}

.lp-rental-program .rent-catalog .machine ul li:before {
  font-style: 18px;
  color: #579EFF;
  margin-right: 2px;
  content: '✓';
}

.lp-rental-program .rent-catalog .machine .more {
  font: 500 16px / 23px "Rubik";
  color: #579EFF;
  display: block;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
}

.lp-rental-program .rent-catalog .machine .more:hover {
  color: #84C7FF;
}

.lp-rental-program .rent-machine .header-block {
  margin-bottom: 105px;
  background-image: url(../img/bg/page2-1.jpg);
}

.lp-rental-program .rent-machine .header-block .preview {
  font: 0/0 a;
  position: relative;
  text-align: center;
  text-align-last: center;
}

@media (max-width: 999px) {
  .lp-rental-program .rent-machine .header-block .preview {
    height: 115px;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-machine .header-block .preview {
    height: 175px;
  }
}

.lp-rental-program .rent-machine .header-block .preview img {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
}

@media (max-width: 999px) {
  .lp-rental-program .rent-machine .header-block .preview img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-machine .header-block .preview img {
    width: 260px;
    height: 260px;
  }
}

.lp-rental-program .rent-machine .wrapper {
  margin-bottom: 20px;
}

@media (max-width: 999px) {
  .lp-rental-program .rent-machine .wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.lp-rental-program .rent-machine .wrapper-info .title {
  font: 600 28px / 40px "";
  margin-bottom: 20px;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
}

@media (max-width: 999px) {
  .lp-rental-program .rent-machine .wrapper-info .title {
    font-size: 23px;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-machine .wrapper-info .title {
    font-size: 28px;
  }
}

.lp-rental-program .rent-machine .wrapper-info .info {
  width: 280px;
  height: 28px;
  position: relative;
  margin: 0 auto 20px auto;
}

.lp-rental-program .rent-machine .wrapper-info .info div {
  font: 600 12px / 28px "";
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
}

.lp-rental-program .rent-machine .wrapper-info .info .cost,
.lp-rental-program .rent-machine .wrapper-info .info .period {
  position: absolute;
  top: 0;
  color: #bbb;
}

.lp-rental-program .rent-machine .wrapper-info .info .cost {
  left: 0;
}

.lp-rental-program .rent-machine .wrapper-info .info .period {
  right: 0;
}

.lp-rental-program .rent-machine .wrapper-info .info .price {
  font-size: 24px;
  color: #579EFF;
}

.lp-rental-program .rent-machine .wrapper-info .select-btn {
  width: 100%;
  height: 45px;
  position: relative;
  text-align: center;
}

.lp-rental-program .rent-machine .wrapper-info .select-btn:after {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0;
  display: block;
  opacity: .1;
  background: #000;
  z-index: 1;
  content: '';
}

.lp-rental-program .rent-machine .wrapper-info .select-btn a {
  font: 500 18px / 45px "";
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background: #579EFF;
  box-shadow: 20px 0 0 #F0F0F2, -20px 0 0 #F0F0F2;
  z-index: 2;
}

.lp-rental-program .rent-machine .wrapper-info .select-btn a:hover {
  padding: 0 40px;
  background: #84C7FF;
  box-shadow: 10px 0 0 #F0F0F2, -10px 0 0 #F0F0F2;
}

.lp-rental-program .rent-machine .process {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(../img/bg/page2-2.jpg) no-repeat center top, #F0F0F2;
  background-size: cover;
}

.lp-rental-program .rent-machine .process .wrapper {
  margin: 0;
}

.lp-rental-program .rent-machine .process {
  margin-bottom: 20px;
}

.lp-rental-program .rent-machine .process .title {
  font: 400 40px/normal "Rubik";
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  text-align-last: center;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 999px) {
  .lp-rental-program .rent-machine .process .title {
    font-size: 32px;
  }
}

.lp-rental-program .rent-machine .process .steps {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

.lp-rental-program .rent-machine .process .steps:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.lp-rental-program .rent-machine .process .steps * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
}

.lp-rental-program .rent-machine .process .steps .step {
  width: 300px;
}

@media (max-width: 999px) {
  .lp-rental-program .rent-machine .process .steps .step {
    width: 100%;
    margin-bottom: 20px;
  }
  .lp-rental-program .rent-machine .process .steps .step:last-of-type {
    margin: 0;
  }
}

.lp-rental-program .rent-machine .process .steps .step img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #579EFF;
}

.lp-rental-program .rent-machine .process .steps .step .descr {
  font: 400 14px / 20px "Rubik";
  color: #fff;
  margin-left: 10px;
  text-align: left;
  text-align-last: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 999px) {
  .lp-rental-program .rent-machine .process .steps .step .descr {
    width: calc(100% - 74px);
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-machine .process .steps .step .descr {
    width: 226px;
  }
}

.lp-rental-program .rent-machine .wrapper-descr {
  margin-bottom: 0;
}

.lp-rental-program .rent-machine .wrapper-descr p {
  margin-bottom: 20px;
  text-align: justify;
  text-align-last: left;
}

.lp-rental-program .rent-machine .wrapper-descr p span {
  font: 400 15px / 22px "";
  color: #5f6468;
}

.lp-rental-program .rent-machine .wrapper-descr p span.article {
  font-weight: 600;
  text-transform: uppercase;
}

.lp-rental-program .rent-machine .wrapper-catalog .division {
  width: 100%;
  height: 30px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  text-align-last: center;
}

.lp-rental-program .rent-machine .wrapper-catalog .division div {
  font: 600 15px / 30px "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #5f6468;
  text-transform: uppercase;
  display: inline-block;
  height: 30px;
  position: relative;
  background: #F0F0F2;
  box-shadow: -20px 0 0 #F0F0F2, 20px 0 0 #F0F0F2;
  z-index: 100;
}

.lp-rental-program .rent-machine .wrapper-catalog .division:after {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  opacity: .1;
  background: #000;
  z-index: 1;
  content: '';
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section {
  margin: 0 auto;
}

@media (max-width: 519px) {
  .lp-rental-program .rent-machine .wrapper-catalog .machines-section {
    width: 240px;
  }
}

@media (min-width: 520px) and (max-width: 759px) {
  .lp-rental-program .rent-machine .wrapper-catalog .machines-section {
    width: 480px;
  }
}

@media (min-width: 760px) and (max-width: 999px) {
  .lp-rental-program .rent-machine .wrapper-catalog .machines-section {
    width: 720px;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-machine .wrapper-catalog .machines-section {
    width: 100%;
  }
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines {
  font: 0/0 a;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto -20px auto;
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines > div {
  width: 220px;
  height: 240px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  border-radius: 5px 5px 3px 3px;
  background: #393E46;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
}

@media (max-width: 519px) {
  .lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines > div {
    margin-bottom: 20px;
  }
}

@media (min-width: 520px) and (max-width: 759px) {
  .lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines > div {
    margin: 0 10px 20px 10px;
  }
}

@media (min-width: 760px) and (max-width: 999px) {
  .lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines > div {
    margin: 0 10px 20px 10px;
  }
}

@media (min-width: 1000px) {
  .lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines > div {
    margin: 0 10px 20px 10px;
  }
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines > div .rent {
  width: 220px;
  height: 157px;
  position: absolute;
  top: 0;
  left: 0;
  font: 500 24px / 157px "Rubik";
  color: #fff;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  opacity: 0;
  border-radius: 3px 3px 0 0;
  background: rgba(57, 62, 70, 0.85);
  z-index: 10;
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines > div:hover .rent {
  opacity: 1;
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines .img {
  width: 220px;
  height: 157px;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  background: #fff;
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines .img img {
  width: 157px;
  height: 157px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines .model {
  position: absolute;
  top: 167px;
  left: 10px;
  font: 500 14px / 16px "";
  color: #fff;
  width: 200px;
  text-align: left;
  text-align-last: left;
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines .refurbished,
.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines .price {
  font: 500 13px / 13px "";
  position: absolute;
  bottom: 10px;
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines .refurbished {
  left: 10px;
  color: #fff;
}

.lp-rental-program .rent-machine .wrapper-catalog .machines-section .machines .price {
  right: 10px;
  color: #579EFF;
}

@media (max-width: 999px) {
  .lp-re-supply .info .wrapper {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

.lp-re-supply .info .info-header {
  width: 100%;
  background: url(../img/bg/page1-2.jpg) no-repeat center top;
  background-size: cover;
}

.lp-re-supply .info .info-header .wrapper {
  padding: 30px 0;
  text-align: center;
  text-align-last: center;
}

.lp-re-supply .info .info-header .title {
  font: 500 26px / 30px "";
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.lp-re-supply .info .info-header .descr {
  font: 0/0 a;
  display: inline-block;
  position: relative;
  padding: 30px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.lp-re-supply .info .info-header .descr img,
.lp-re-supply .info .info-header .descr div {
  display: inline-block;
  vertical-align: top;
}

.lp-re-supply .info .info-header .descr img {
  margin-right: 270px;
  border-radius: 3px;
}

@media (min-width: 1000px) {
  .lp-re-supply .info .info-header .descr div {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    right: 30px;
    width: 240px;
  }
}

.lp-re-supply .info .info-header .descr .line1,
.lp-re-supply .info .info-header .descr .line2,
.lp-re-supply .info .info-header .descr .line3 {
  display: block;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
}

.lp-re-supply .info .info-header .descr .line1 {
  font: 600 34px / 30px "";
}

.lp-re-supply .info .info-header .descr .line2 {
  font: 600 37px / 33px "";
}

.lp-re-supply .info .info-header .descr .line3 {
  font: 600 13px / 14px "";
}

.lp-re-supply .info .info-header .descr a {
  font: 500 26px / 61px "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 166px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  border-radius: 3px;
  background: #579EFF;
}

.lp-re-supply .info .info-header .descr a:hover {
  background: #84C7FF;
}

@media (max-width: 999px) {
  .lp-re-supply .info .info-body .wrapper {
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  .lp-re-supply .info .info-body .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.lp-re-supply .info .info-body .wrapper .title {
  font: 500 36px / 42px "";
  color: #579EFF;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
}

@media (max-width: 999px) {
  .lp-re-supply .info .info-body .wrapper .title {
    font: 500 24px / 28px "";
  }
}

@media (min-width: 1000px) {
  .lp-re-supply .info .info-body .wrapper .title {
    font: 500 36px / 42px "";
  }
}

@media (min-width: 1000px) {
  .lp-re-supply .info .info-body .wrapper .box {
    position: relative;
    height: 500px;
    margin-top: 20px;
  }
}

.lp-re-supply .info .info-body .wrapper .box .msg1,
.lp-re-supply .info .info-body .wrapper .box .msg2,
.lp-re-supply .info .info-body .wrapper .box .msg3 {
  font: 400 12px / 15px "Rubik";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 195px;
  padding: 20px;
  text-align: center;
  text-align-last: center;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

@media (max-width: 999px) {
  .lp-re-supply .info .info-body .wrapper .box .msg1,
  .lp-re-supply .info .info-body .wrapper .box .msg2,
  .lp-re-supply .info .info-body .wrapper .box .msg3 {
    margin-top: 20px;
  }
}

@media (min-width: 1000px) {
  .lp-re-supply .info .info-body .wrapper .box .msg1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .lp-re-supply .info .info-body .wrapper .box .msg2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .lp-re-supply .info .info-body .wrapper .box .msg3 {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    right: 0;
  }
}

.lp-re-supply .info .info-body .wrapper .box ul {
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  text-align-last: left;
  list-style-type: disc;
}

.lp-re-supply .info .info-body .wrapper .box img {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.lp-re-supply .info .info-footer {
  background: #222831;
}

.lp-re-supply .info .info-footer .wrapper {
  text-align: center;
  text-align-last: center;
}

@media (max-width: 999px) {
  .lp-re-supply .info .info-footer .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1000px) {
  .lp-re-supply .info .info-footer .wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.lp-re-supply .info .info-footer div,
.lp-re-supply .info .info-footer span {
  font: 400 14px / 17px "Rubik";
  color: #fff;
}

.lp-re-supply .info .info-footer .link {
  display: inline-block;
  text-align: center;
  text-align-last: center;
  background: transparent;
}

@media (min-width: 1000px) {
  .lp-re-supply .info .info-footer .link {
    padding: 13px 33px;
    border: 3px solid #579EFF;
    border-radius: 33px;
  }
}

.lp-re-supply .info .info-footer .link a {
  color: #579EFF;
}

.lp-re-supply .info .info-footer .link a:hover {
  color: #84C7FF;
}

.lp-re-supply .form form {
  width: 300px;
  margin: 20px auto;
}

.lp-re-supply .form .group {
  margin-bottom: 10px;
}

.lp-re-supply .form .group:last-child {
  margin-bottom: 20px;
}

.lp-re-supply .form .group.m20 {
  margin: 20px 0;
}

.lp-re-supply .form form .first-name,
.lp-re-supply .form form .last-name,
.lp-re-supply .form form .month,
.lp-re-supply .form form .day,
.lp-re-supply .form form .year {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.lp-re-supply .form form .first-name,
.lp-re-supply .form form .month,
.lp-re-supply .form form .day {
  margin-right: 10px;
}

.lp-re-supply .form form .first-name,
.lp-re-supply .form form .last-name {
  width: 145px;
}

.lp-re-supply .form form .month {
  width: 120px;
}

.lp-re-supply .form form .day,
.lp-re-supply .form form .year {
  width: 80px;
}

@media (max-width: 999px) {
  .lp-sleep-test .info .wrapper {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

.lp-sleep-test .info .info-header {
  margin-bottom: 20px;
  background: url(../img/bg/page5-1.jpg) no-repeat center top;
  background-size: cover;
}

.lp-sleep-test .info .info-header .wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  text-align-last: center;
}

.lp-sleep-test .info .info-header .wrapper .title,
.lp-sleep-test .info .info-header .wrapper .descr {
  margin-bottom: 20px;
  text-align: center;
  text-align-last: center;
  color: #fff;
}

.lp-sleep-test .info .info-header .wrapper .title {
  font: 400 24px / 28px "";
}

.lp-sleep-test .info .info-header .wrapper .descr {
  font: 400 14px / 16px "";
}

.lp-sleep-test .info .info-header .wrapper a {
  font: 500 14px / 16px "";
  color: #fff;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 3px;
  background: #579EFF;
}

.lp-sleep-test .info .info-header .wrapper a:hover {
  background: #84C7FF;
}

@media (max-width: 999px) {
  .lp-sleep-test .info .info-body .container {
    width: 100%;
    text-align: justify;
    text-align-last: left;
  }
}

@media (min-width: 1000px) {
  .lp-sleep-test .info .info-body .container {
    width: 780px;
    text-align: left;
    text-align-last: left;
  }
}

.lp-sleep-test .info .info-body .text {
  font: 400 14px / 16px "";
  margin-bottom: 20px;
  text-align: justify;
  text-align-last: left;
}

.lp-sleep-test .info .info-body .title {
  font: 500 17px / 20px "";
  margin-bottom: 10px;
  text-align: center;
  text-align-last: center;
}

.lp-sleep-test .info .info-body hr {
  border-color: #DDDDDD;
  margin-bottom: 20px;
}

.lp-sleep-test .info .info-body .step {
  font: 0/0 a;
  position: relative;
}

@media (max-width: 999px) {
  .lp-sleep-test .info .info-body .step {
    height: auto;
    margin-bottom: 30px;
  }
}

@media (min-width: 1000px) {
  .lp-sleep-test .info .info-body .step {
    height: 98px;
    margin-bottom: 20px;
  }
}

.lp-sleep-test .info .info-body .step > * {
  display: inline-block;
  vertical-align: top;
}

.lp-sleep-test .info .info-body .step img {
  width: 98px;
  margin-right: 15px;
  border-radius: 50%;
}

@media (max-width: 999px) {
  .lp-sleep-test .info .info-body .step .info {
    width: calc(100% - 113px);
  }
}

@media (min-width: 1000px) {
  .lp-sleep-test .info .info-body .step .info {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    left: 113px;
    width: calc(100% - 113px);
  }
}

.lp-sleep-test .info .info-body .step .info div {
  font: 400 14px / 16px "";
}

.lp-sleep-test .info .info-body .step .info .step-title {
  margin-bottom: 10px;
}

.lp-sleep-test .info .info-footer {
  background: #222831;
}

.lp-sleep-test .info .info-footer .wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-align-last: center;
}

.lp-sleep-test .info .info-footer .title,
.lp-sleep-test .info .info-footer .descr,
.lp-sleep-test .info .info-footer a {
  color: #fff;
  text-align: center;
  text-align-last: center;
  margin-bottom: 20px;
}

.lp-sleep-test .info .info-footer .title {
  font: 500 20px / 24px "";
  text-transform: uppercase;
}

.lp-sleep-test .info .info-footer .descr {
  font: 400 14px / 16px "";
}

.lp-sleep-test .info .info-footer a {
  font: 500 14px / 16px "";
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 3px;
  background: #579EFF;
}

.lp-sleep-test .info .info-footer a:hover {
  background: #84C7FF;
}

.lp-common .billing .header-block {
  background-image: url(../img/bg/page1-2.jpg);
}

.lp-common .billing form {
  width: 300px;
  margin: 20px auto;
}

.lp-common .billing form .group {
  margin-bottom: 10px;
}

.lp-common .billing form .group:last-child {
  margin-bottom: 0;
}

.lp-common .billing form hr {
  border-color: rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.lp-common .billing form .title {
  font: 600 22px / 20px "";
  margin-bottom: 20px;
  text-align: center;
  color: #5f6468;
}

.lp-common .billing .first-name,
.lp-common .billing .last-name,
.lp-common .billing .state,
.lp-common .billing .zip,
.lp-common .billing .month,
.lp-common .billing .year,
.lp-common .billing .cvv {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.lp-common .billing .first-name,
.lp-common .billing .state,
.lp-common .billing .month,
.lp-common .billing .year {
  margin-right: 10px;
}

.lp-common .billing .first-name,
.lp-common .billing .last-name {
  width: 145px;
}

.lp-common .billing .state {
  width: 210px;
}

.lp-common .billing .zip {
  width: 80px;
}

.lp-common .billing .month {
  width: 105px;
}

.lp-common .billing .year {
  width: 105px;
}

.lp-common .billing .cvv {
  width: 70px;
}

.lp-common .billing .result {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
}

.lp-common .billing .result div {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

.lp-common .billing .result div:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.lp-common .billing .result div > * {
  display: inline-block;
  vertical-align: none;
  text-align: left;
  text-align-last: left;
}

.lp-common .billing .result span {
  font: 400 14px / 20px "";
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
  color: #5f6468;
}

.lp-common .billing .purchase-info {
  font: 400 12px / 17px "";
  text-align: center;
  text-align-last: center;
}

.lp-common .thanks .header-block {
  background-image: url(../img/bg/page1-2.jpg);
}

.lp-common .thanks .wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.lp-common .thanks .group hr {
  border-color: rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.lp-common .thanks .title {
  font: 500 22px / 24px "";
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-align-last: center;
}

.lp-common .thanks .line {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  margin: 5px auto;
}

.lp-common .thanks .line:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.lp-common .thanks .line > * {
  display: inline-block;
  vertical-align: none;
  text-align: left;
  text-align-last: left;
}

.lp-common .thanks span {
  font: 400 14px / 20px "";
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lp-common .thanks .left {
  width: 116px;
  text-align: left;
  text-align-last: left;
}

.lp-common .thanks .right {
  width: 180px;
  text-align: right;
  text-align-last: right;
}

.ws-page article,
.ws-page address {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
}

.ws-page article > * {
  margin-bottom: 15px;
}

.ws-page article > *:last-child {
  margin-bottom: 0;
}

.ws-page address {
  font: 400 14px/18px 'Roboto';
}

.ws-page article h1, .ws-page article h2, .ws-page article h3, .ws-page article h4, .ws-page article h5, .ws-page article h6 {
  text-align: left;
  text-align-last: left;
}

.ws-page article h1 {
  font: 500 32px / 38px "";
}

.ws-page article h2 {
  font: 500 24px / 28px "";
}

.ws-page article h3 {
  font: 500 19px / 23px "";
}

.ws-page article h4 {
  font: 500 16px / 19px "";
}

.ws-page article h5 {
  font: 500 13px / 15px "";
}

.ws-page article h6 {
  font: 500 11px / 13px "";
}

.ws-page article p {
  font: 400 14px / 19px "";
  letter-spacing: .03px;
  text-align: justify;
  text-align-last: left;
}

.ws-page article ol {
  list-style: decimal;
}

.ws-page article ul {
  list-style: none;
}

.ws-page article ol,
.ws-page article ul {
  padding-left: 14px;
}

.ws-page article ol li,
.ws-page article ol li,
.ws-page article ul li,
.ws-page article ul li {
  font: 400 14px / 18px "";
  position: relative;
  margin-bottom: 5px;
  text-align: justify;
  text-align-last: left;
}

.ws-page article ol li:before,
.ws-page article ul li:before {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 7px;
  left: -14px;
  background: #579EFF;
  border-radius: 50%;
  content: '';
}

.ws-page .about-us,
.ws-page .locations,
.ws-page .testimonials {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

.ws-page article .author {
  margin: 0;
  text-align: right;
  text-align-last: right;
}

.ws-page form .month,
.ws-page form .day,
.ws-page form .year {
  display: inline-block;
  vertical-align: top;
}

.ws-page form .month,
.ws-page form .day {
  margin-right: 10px;
}

.ws-page form .month {
  width: calc(48% - 10px);
}

.ws-page form .day,
.ws-page form .year {
  width: calc(26% - 5px);
}

.ws-page form .left,
.ws-page form .right {
  display: inline-block;
  vertical-align: top;
}

.ws-page form .left {
  width: calc(100% - 80px);
  margin-right: 10px;
}

.ws-page form .right {
  width: 70px;
}

.ws-page form .test-info {
  font: 400 14px / 16px "";
  text-align: center;
  text-align-last: center;
}

.ws-page section .search {
  width: 100%;
  height: 40px;
  font: 400 14px/normal "";
  padding-right: 10px;
  padding-left: 37px;
  border: 0;
  background: url("../svg/icons/search.svg") no-repeat 12px center/16px, #fff;
}

.ws-page section .machines {
  font: 0/0 a;
  position: relative;
  margin: 0 -20px 0 0;
  padding: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

.ws-page section .machines > div {
  width: 220px;
  height: 240px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px 5px 3px 3px;
  background: #393E46;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
}

.ws-page section .machines .rent {
  width: 220px;
  height: 157px;
  position: absolute;
  top: 0;
  left: 0;
  font: 500 24px / 157px "Rubik";
  color: #fff;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  opacity: 0;
  border-radius: 3px 3px 0 0;
  background: rgba(57, 62, 70, 0.85);
  z-index: 10;
}

.ws-page section .machines > div:hover .rent {
  opacity: 1;
}

.ws-page section .machines .img {
  width: 220px;
  height: 157px;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  background: #fff;
}

.ws-page section .machines .img img {
  width: 157px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.ws-page section .machines .model {
  font: 500 14px / 16px "";
  position: absolute;
  top: 167px;
  left: 10px;
  color: #fff;
  width: 200px;
  text-align: left;
  text-align-last: left;
}

.ws-page section .machines .refurbished,
.ws-page section .machines .price {
  font: 500 13px / 13px "";
  position: absolute;
  bottom: 10px;
}

.ws-page section .machines .refurbished {
  left: 10px;
  color: #fff;
}

.ws-page section .machines .price {
  right: 10px;
  color: #579EFF;
}

.testpage {
  position: relative;
  width: 100%;
  height: 100%;
  background: #393e46;
}

.testpage form {
  margin: 40px 0 0 0;
  background: #fff;
  padding: 20px;
}

#loading-bar,
#loading-bar-spinner {
  transition: .4s linear all;
}

#loading-bar.ng-enter, #loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active, #loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  width: 100%;
  height: 2px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: width .35s;
  background: #579EFF;
}

#loading-bar .peg {
  width: 70px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  box-shadow: 1px 0 7px 2px #579EFF;
}

#loading-bar-spinner {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 999;
  display: block;
}

#loading-bar-spinner .spinner-icon {
  width: 19px;
  height: 19px;
  animation: loading-bar-spinner .4s linear infinite;
  border: 2px solid transparent;
  border-top-color: #579EFF;
  border-left-color: #579EFF;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
