<div class="row" ng-controller="machine">
  <div class="col-lg-12 table-view">

    <div class="title">Quis velit voluptas repellat, deserunt mollitia, id itaque tempore, aliquid aperiam molestias necessitatibus vero sint qui. Doloremque deserunt odio inventore tenetur similique sunt, nihil ut, dolor exercitationem sequi quod unde quasi facere. Esse maxime reiciendis corporis magni vel itaque quod maiores necessitatibus!</div>

    <div class="darkness" ng-show="readMachineInfo">
      <div class="window">
        <div class="title">Machine Info</div>
        <div class="text"><span>Company:</span> {{machineDetail.company}}</div>
        <div class="text"><span>Model Name:</span> {{machineDetail.model}}</div>
        <div class="text"><span>Image Url:</span> {{machineDetail.imageUrl}}</div>
        <div class="text"><span>Type:</span> {{machineDetail.type}}</div>
        <div class="text"><span>Refurbished:</span>{{machineDetail.refurbished}}</div>
        <div class="text"><span>Description:</span> {{machineDetail.description}}</div>
        <form>
          <input class="right" type="submit" value="Close" ng-click="readMachineInfo = false">
        </form>
      </div>
    </div>

   <form class="filter" novalidate>
      <input class="pull-left" type="search" placeholder="search" ng-model="search">
      <input class="pull-right" type="submit" value="Add Machine" ui-sref="main.machineAdd">
    </form>
    <div class="table">
      <table>

        <thead>
          <tr>
            <td>Company</td>
            <td>Model</td>
            <td>Price</td>
            <td>Refurbished</td>
            <td>Image Url</td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="machine in data | filter: search">
            <td>{{machine.company}}</td>
            <td>{{machine.model}}</td>
            <td>&dollar;{{machine.price}}</td>
            <td>{{machine.refurbished}}</td>
            <td class="machine-img">{{machine.imageUrl}}
              <div>
                <img src="http://swimages.blob.core.windows.net/goodnightmedical-preview/{{getNameFromUrl(machine.imageUrl)}}">
              </div>
            </td>
            <td ui-sref="main.machineEdit({id: machine.id})"><input type="submit" value="Edit" href="javascript:void(0)"></td>
            <td><input type="submit"value="View" href="javascript:void(0)" ng-click="getDetails(machine.id)"></td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>
