<div class="rent-catalog" ng-controller="rentCatalog">

  <div class="header-block">
    <div ng-include="'app/views/modules/header1.html'" class="head2"></div>
    <div class="title">Rental Program</div>
    <div class="container">
      <div class="preview">
        <div class="left-btn" animate="all-all"
             ng-click="leftMachine();"
             ng-class="leftDisable"
             ng-include="'content/svg/icons/left.svg'"></div>

        <div class="preview-wrapper">
          <img ng-repeat="machine in machines | orderBy:'+price'"
               ng-src="{{machine.imageUrl}}"
               ng-class="returnImgClass($index);">
        </div>

        <div class="right-btn" animate="all-all"
             ng-click="rightMachine();"
             ng-class="rightDisable"
             ng-include="'content/svg/icons/right.svg'"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="wrapper">
      <div class="machine"
           ng-repeat="machine in machines | orderBy:'+price'"
           ng-class="showMachineCheck($index);">

        <div class="title" ng-bind="machine.title"></div>

        <div class="info">
          <div class="every">
            <div>monthly</div>
            <div>price</div>
          </div>
          <div class="price" ng-bind="'$' + machine.price"></div>
          <div class="ships" ng-show="machine.ships.length > 0">
            <div ng-bind="'+' + machine.ships"></div>
            <div>s&h</div>
          </div>
          <div class="ships" ng-show="machine.ships.length == 0">
            <div>ships</div>
            <div>free</div>
          </div>
        </div>

        <div class="select-btn" ng-if="machine.isPayment">
          <a ui-sref="common.billing({price:machine.price, ships:machine.ships, type:machine.type})">Select</a>
        </div>
        <div class="select-btn" ng-if="!machine.isPayment">
          <a ng-click="showModal1Func(); setMachineType(machine.type);">Select</a>
        </div>
        <div class="descr" ng-bind="machine.description"></div>

        <hr>

        <ul>
          <li ng-repeat-start="list in machine.features" ng-bind="list"></li>
          <hr ng-repeat-end>
        </ul>

        <a class="more" ui-sref="rent.machine({type:machine.type})">Learn More</a>

      </div>
    </div>
  </div>
  <div ng-include="'app/views/modules/modal1.html'"></div>
</div>
