<div class="rent-machine" ng-controller="rentMachine">

  <div class="header-block">
    <div ng-include="'app/views/modules/header2.html'" class="head2"></div>
    <div class="title">Rental Program</div>
    <div class="container">
      <div class="preview">
        <img ng-src="{{data.program.imageUrl}}">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="wrapper wrapper-info">
        <div class="title" ng-bind="data.program.title"></div>

        <div class="info">
          <div class="cost" ng-bind="data.program.type == '2' ? 'pricing at' : 'starts at'"></div>
          <div class="price" ng-bind="'$' + data.program.price"></div>
          <div class="period">per month</div>
        </div>

        <div class="select-btn" ng-if="data.isPayment">
          <a ui-sref="common.billing({price:data.program.price, ships:ships, type:data.program.title})">Select</a>
        </div>
        <div class="select-btn" ng-if="!data.isPayment" ng-click="showModal1Func();setMachineType(data.program.title);">
          <a href="">Select</a>
        </div>
    </div>
  </div>

  <div class="process">
    <div class="container">
      <div class="wrapper">
        <div class="title">Easy 3 Step Process</div>

        <div class="steps">
          <span ng-repeat-start="step in data.program.programDescription"></span>

          <div class="step">
            <img ng-src="content/svg/steps/{{$index + 1}}.svg" alt="">
            <div class="descr" ng-bind="step"></div>
          </div>

          <span ng-repeat-end></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="wrapper wrapper-descr">
      <p>
        <span class="article">How it works: </span>
        <span ng-bind="data.program.howItWorks"></span>
      </p>
      <p ng-if="data.program.additionalDescription.length">
        <span class="article" ng-if="data.program.additionalTitle.length" ng-bind="data.program.additionalTitle"></span>
        <span ng-bind="data.program.additionalDescription"></span>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="wrapper wrapper-catalog">
      <div class="division">
        <div>See our options below</div>
      </div>

      <div class="machines-section">
        <div class="machines">
          <div ng-repeat="machine in  data.machines">
            <div class="rent"
                 animate="all"
                 ng-if="data.isPayment"
                 ui-sref="common.billing({price:machine.pricePerMonth, ships:ships, type:machine.name})">Buy | Rent
            </div>
            <div class="rent"
                 animate="all"
                 ng-if="!data.isPayment"
                 ng-click="showModal1Func();setMachine(machine.id);">Buy | Rent
            </div>
            <div class="img">
              <img ng-src="{{machine.imageUrl}}" alt="{{machine.name}}">
            </div>
            <div class="model" ng-bind="machine.name | characters:45"></div>
            <div class="refurbished" ng-bind="machine.refurbished ? 'Refurbished' : 'New'"></div>
            <div class="price" ng-bind="'$' + machine.pricePerMonth + ' / month'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'app/views/modules/modal1.html'"></div>
</div>

















