.header-block
  background-image: url(../img/bg/page2-1.jpg)

  @media (max-width: 999px)
    margin-bottom: 35px
  @media (min-width: 1000px)
    margin-bottom: 55px

//
// Header preview
//

.header-block .preview
  +font
  position: relative
  text-align: center
  text-align-last: center

  @media (max-width: 999px)
    height: 115px
  @media (min-width: 1000px)
    height: 145px

  .preview-wrapper
    @media (max-width: 999px)
      +size(100%, 180px)
      position: relative
      overflow: hidden
    @media (min-width: 1000px)
      +size(100%, auto)
      position: relative

//
// Header preview images
//

.header-block .preview img
  +inline
  position: relative
  padding: 20px
  border-radius: 3px
  background: #fff
  box-shadow: 0 0 35px rgba(0, 0, 0, .15)

  @media (max-width: 999px)
    +size($box: 160px)
    position: absolute
    transition: right .5s ease-in-out, transform .5s ease-in-out

  @media (min-width: 1000px)
    +size($box: 200px)
    margin-right: 60px
    margin-left: 60px

  @media (max-width: 999px)
    &.enabled
      right: 50%
      transform: translateX(50%)
    &.disabled-left
      right: 120%
      transform: translateX(0)
    &.disabled-right
      right: -120%
      transform: translateX(0)

//
// Machien preview slide buttons
//

.header-block .preview
  .left-btn,
  .right-btn
    +pos($b: -35px)
    z-index: 10
    cursor: pointer
    margin: -10px 40px
    padding: 10px

    @media (max-width: 999px)
      display: block
    @media (min-width: 1000px)
      display: none

  .left-btn,
  .right-btn
    &.disable
      display: none
    path
      fill: $pri1

  .left-btn
    left: 0
  .right-btn
    right: 0

//
// Machine
//

.wrapper
  +font
  text-align: center
  text-align-last: center

.machine
  +inline

  > *
    +margin(bottom, 20px)

  @media (max-width: 999px)
    width: 280px
    margin: 20px 0
    &.hide-machine
      display: none

  @media (min-width: 1000px)
    width: 280px
    margin: 20px
    &.hide-machine
      display: inline-block

//
// Machine separate
//

.machine hr
  +size(100%, 1px)
  margin: 20px 0 $gg
  padding: 0 $gg
  border: 0
  background: rgba(0, 0, 0, .1)

//
// Machine title
//

.machine .title
  +font(28px, 40px, 600)
  text-align: center
  text-align-last: center
  text-transform: uppercase

  @media (max-width: 999px)
    font-size: 23px
  @media (min-width: 1000px)
    font-size: 28px

//
// Machine info every, ships, and price
//

.machine .info
  +size(100%, 28px)
  position: relative

  .every,
  .ships,
  .price
    text-align: center
    text-align-last: center
    text-transform: uppercase

  .every,
  .ships
    +pos($t: 0)
    div
      +font(12px, 14px, 600)
      color: #bbb

  .every
    left: 33px
    transform: translate(-50%, 0)

  .ships
    right: 33px
    transform: translate(50%, 0)

  .price
    +font(24px, 28px, 600)
    color: $pri1

//
// Machine select button
//

.machine .select-btn
  +size(100%, 45px)
  position: relative
  text-align: center
  text-align-last: center

  &:after
    +size(100%, 1px)
    +pos($t: 22px, $l: 0)
    display: block
    opacity: .1
    background: #000
    z-index: 1
    content: ''

  a
    +font(18px, 45px, 500)
    color: #fff
    text-transform: uppercase
    display: inline-block
    position: relative
    padding-right: 20px
    padding-left: 20px
    border-radius: 3px
    background: $pri1
    box-shadow: 20px 0 0 $gray4, -20px 0 0 $gray4
    z-index: 2

  a:hover
    padding-right: 40px
    padding-left: 40px
    background: $pri2
    box-shadow: 10px 0 0 $gray4, -10px 0 0 $gray4

//
// Machine description
//

.machine .descr
  +font(14px, 20px, 500)
  color: #aaa
  text-align: center
  text-align-last: center

  @media (max-width: 999px)
    height: auto
  @media (min-width: 1000px)
    height: 100px

//
// Machine list
//

.machine ul
  text-align: center

  li,
  li:before
    +font(14px, 14px, 500)
    +inline(middle)
    color: #aaa
    text-align: center
    text-align-last: center

  li:before
    font-style: 18px
    color: $pri1
    margin-right: 2px
    content: '✓'

//
// Machine more
//

.machine .more
  +font(16px, 23px, 500, 'Rubik')
  color: $pri1
  display: block
  text-align: center
  text-align-last: center
  text-transform: uppercase

  &:hover
    color: $pri2
