.header-block
  margin-bottom: 105px
  background-image: url(../img/bg/page2-1.jpg)

//
// Header preview
//

.header-block .preview
  +font
  position: relative
  text-align: center
  text-align-last: center

  @media (max-width: 999px)
    height: 115px
  @media (min-width: 1000px)
    height: 175px

//
// Header preview image
//

.header-block .preview img
  +inline
  padding: 20px
  border-radius: 3px
  background: #fff
  box-shadow: 0 0 35px rgba(0, 0, 0, .15)

  @media (max-width: 999px)
    +size($box: 200px)
  @media (min-width: 1000px)
    +size($box: 260px)

//
// Wrapper
//

.wrapper
  margin-bottom: 20px

  @media (max-width: 999px)
    padding-right: 20px
    padding-left: 20px

//
// Machine title
//

.wrapper-info .title
  +font(28px, 40px, 600)
  margin-bottom: 20px
  text-align: center
  text-align-last: center
  text-transform: uppercase

  @media (max-width: 999px)
    font-size: 23px
  @media (min-width: 1000px)
    font-size: 28px

//
// Machine info cost, price, and period
//

.wrapper-info .info
  +size(280px, 28px)
  position: relative
  margin: 0 auto 20px auto

  div
    +font(12px, 28px, 600)
    text-align: center
    text-align-last: center
    text-transform: uppercase

  .cost,
  .period
    +pos($t: 0)
    color: #bbb

  .cost
    left: 0
  .period
    right: 0

  .price
    font-size: 24px
    color: $pri1

//
// Machine select button
//

.wrapper-info .select-btn
  +size(100%, 45px)
  position: relative
  text-align: center

  &:after
    +size(100%, 1px)
    +pos($t: 22px, $l: 0)
    display: block
    opacity: .1
    background: #000
    z-index: 1
    content: ''

  a
    +font(18px, 45px, 500)
    color: #fff
    text-transform: uppercase
    display: inline-block
    position: relative
    padding-right: 20px
    padding-left: 20px
    border-radius: 3px
    background: $pri1
    box-shadow: 20px 0 0 $gray4, -20px 0 0 $gray4
    z-index: 2

  a:hover
    padding: 0 40px
    background: $pri2
    box-shadow: 10px 0 0 $gray4, -10px 0 0 $gray4

//
// Process block
//

.process
  position: relative
  padding-top: 20px
  padding-bottom: 20px
  background: url(../img/bg/page2-2.jpg) no-repeat center top, $gray4
  background-size: cover

  .wrapper
    margin: 0

//
// Process title
//

.process
  margin-bottom: 20px

  .title
    +font(40px, $family: 'Rubik')
    color: #fff
    margin-bottom: 20px
    text-align: center
    text-align-last: center
    text-shadow: 0 0 15px rgba(0, 0, 0, .2)

    @media (max-width: 999px)
      font-size: 32px

//
// Process steps
//

.process .steps
  +justify($all: yes)

.process .steps .step
  width: 300px

  @media (max-width: 999px)
    width: 100%
    margin-bottom: 20px
    &:last-of-type
      margin: 0

  img
    +size($box: 64px)
    border-radius: 50%
    background: $pri1

  .descr
    +font(14px, 20px, $family: 'Rubik')
    color: #fff
    margin-left: 10px
    text-align: left
    text-align-last: left
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2)

    @media (max-width: 999px)
      width: calc(100% - 74px)
    @media (min-width: 1000px)
      width: 226px

//
// Description
//

.wrapper-descr
  margin-bottom: 0

  p
    margin-bottom: 20px
    text-align: justify
    text-align-last: left

    span
      +font(15px, 22px)
      color: #5f6468

      &.article
        font-weight: 600
        text-transform: uppercase

//
// Catalog division
//

.wrapper-catalog .division
  +size(100%, 30px)
  position: relative
  margin-bottom: 20px
  text-align: center
  text-align-last: center

  div
    +font(15px, 30px, 600)
    +center(block)
    color: #5f6468
    text-transform: uppercase
    display: inline-block
    height: 30px
    position: relative
    background: $gray4
    box-shadow: -20px 0 0 $gray4, 20px 0 0 $gray4
    z-index: 100

  &:after
    +size(100%, 1px)
    +pos($t: 50%, $l: 0)
    display: block
    opacity: .1
    background: #000
    z-index: 1
    content: ''

//
// Catalog machines
//

.wrapper-catalog .machines-section
  margin: 0 auto

  @media (max-width: 519px)
    width: 240px
  @media (min-width: 520px) and (max-width: 759px)
    width: 480px
  @media (min-width: 760px) and (max-width: 999px)
    width: 720px
  @media (min-width: 1000px)
    width: 100%

  .machines
    +font
    position: relative
    display: block
    width: 100%
    margin: 0 auto -20px auto

  .machines > div
    +size(220px, 240px)
    +inline
    position: relative
    cursor: pointer
    border-radius: 5px 5px 3px 3px
    background: $gray2
    box-shadow: 0 0 7px rgba(0, 0, 0, .03)

    @media (max-width: 519px)
      margin-bottom: 20px
    @media (min-width: 520px) and (max-width: 759px)
      margin: 0 10px 20px 10px
    @media (min-width: 760px) and (max-width: 999px)
      margin: 0 10px 20px 10px
    @media (min-width: 1000px)
      margin: 0 10px 20px 10px

.wrapper-catalog .machines-section .machines
  > div .rent
    +size(220px, 157px)
    +pos($t: 0, $l: 0)
    +font(24px, 157px, 500, 'Rubik')
    color: #fff
    text-align: center
    text-align-last: center
    text-transform: uppercase
    opacity: 0
    border-radius: 3px 3px 0 0
    background: rgba(57, 62, 70, .85)
    z-index: 10

  > div:hover .rent
    opacity: 1

.wrapper-catalog .machines-section .machines
  .img
    +size(220px, 157px)
    overflow: hidden
    border-radius: 3px 3px 0 0
    background: #fff

    img
      +size($box: 157px)
      +center(block)
      background: #fff

.wrapper-catalog .machines-section .machines
  .model
    +pos($t: 167px, $l: 10px)
    +font(14px, 16px, 500)
    color: #fff
    width: 200px
    text-align: left
    text-align-last: left

  .refurbished,
  .price
    +font(13px, 13px, 500)
    +pos($b: 10px)

  .refurbished
    left: 10px
    color: #fff

  .price
    right: 10px
    color: $pri1
