.footer
  width: 100%
  background: $gray2

@media (max-width: 999px)
  .footer .footer-wrapper
    padding: 20px

@media (min-width: 1000px)
  .footer .footer-wrapper
    padding: 30px 0

@media (max-width: 899px)
  .footer .footer-wrapper > *
    +margin(bottom, 20px)

//
// Justify blocks
//

.footer
  .footer-wrapper
    +justify
    > *
      +font(14px, 16px)
      +inline

//
// Footer information blocks (about us, links)
//

@media (max-width: 459px)
  .footer .about
    width: 100%

@media (min-width: 460px)
  .footer .about
    width: 55%

.footer
  .title,
  .about-us,
  .copyright,
  .links a
    display: block
    color: #eee

  .about-us,
  .links a
    opacity: .7

  .title
    +font(16px, 19px, 500)
    margin-bottom: 10px
    text-transform: uppercase

  .about-us
    +font(12px, 14px, 500)
    margin-bottom: 20px
    text-align: justify

  .copyright
    +font(14px, 16px, 500)

  .links a
    +font(12px, 14px, 500)
    margin-bottom: 5px
    text-transform: capitalize

  .links a:hover
    color: $pri1

@media (max-width: 459px)
  .footer
    .title
      font-size: 15px
      line-height: 18px
    .about-us
      font-size: 11px
      line-height: 13px
    .copyright
      font-size: 12px
      line-height: 14px
      text-align: justify
      text-align-last: center

  .hide-footer
    display: none !important

//
// Footer form
//

@media (max-width: 899px)
  .footer form
    width: 100%

@media (min-width: 900px)
  .footer form
    width: 200px

.footer
  +placeholder(57, 62, 70, 1)
  input
    +margin(bottom, 10px)
    display: block
    width: 100%
    height: 36px
    border-radius: 3px

  [type='text']
    +font(13px)
    padding: 0 8px
    color: #eee
    border: 2px solid $gray1
    background: $gray1

  [type='submit']
    +font(14px, $weight: 500)
    transition: background .3s ease-in-out
    text-align: center
    text-align-last: center
    color: #fff
    border: 0
    background: $pri1

  [type='submit']:hover
    background: $pri2
