.header
  +size(100%, 90px)
  position: relative

.head1 .header
  background: $gray2

.head2 .header
  background: transparent

.header .header-wrapper
  @media (max-width: 999px)
    padding: 10px 20px
  @media (min-width: 1000px)
    padding: 10px 0

.header
  .logotype
    +size(123px, 70px)

  path
    fill: #fff

  nav
    +font
    padding: 26px 0

  nav > *
    +font(12px, 19px, 500)
    +inline(middle)
    color: #fff
    text-transform: uppercase

//
// Header (large screen)
//

.header
  .phone
    position: relative
    height: 19px
    vertical-align: middle

  .phone,
  .phone *
    transition: all .3s ease-in-out

  .phone-icon
    line-height: normal
    height: 19px

    path
      fill: #fff

    &:hover path
      fill: $pri1

  .phone-popup
    +center(ver)
    +font(14px, 36px, 500)
    +smoothing(no)
    width: 225px
    right: 26px
    text-align: center
    text-align-last: center
    white-space: nowrap
    opacity: 0
    color: #000
    border-radius: 3px
    background: #fff

  .phone-icon:hover + .phone-popup
    opacity: 1

  a
    margin-bottom: -2px

  a:hover
    color: $pri1

  .separate
    +size($box: 4px)
    margin: 0 7px
    opacity: .5
    border-radius: 50%
    background: #fff

//
// Header for small Screens
//

.header
  .show-md
    +font
    padding: 26px 0
    color: #fff

    span
      +font(16px, 19px, 500)
      +inline(middle)
      height: 19px
      margin-left: 5px
      color: #fff
      svg,
      svg path
        fill: #fff

    div:hover
      span
        color: $pri1
        svg,
        svg path
          fill: $pri1

//
// Fixed popup nav
//

.header
  .menu-fixed-dark
    +size($box: 100%)
    +pos($p: fixed, $t: 0, $l: 0)
    z-index: 898
    background: rgba(57, 62, 70, .7)

  .menu-fixed-cross
    +size($box: 40px)
    +pos($p: fixed, $t: 20px, $r: 260px)
    z-index: 899

    svg,
    svg path
      fill: #fff

    &:hover svg,
    &:hover svg path
      fill: $pri1

  .menu-fixed
    +size(240px, 100%)
    +pos($p: fixed, $t: 0, $r: 0)
    z-index: 899
    background: $gray1

    div
      +pos($p: absolute, $t: 0, $r: -20px, $b: 0, $l: 0)
      overflow-y: scroll
      height: 100%

    div ul
      display: block
      margin: 30px
      padding: 0

      *
        width: 100%
        color: #fff

      > *
        margin-bottom: 7px

      a
        +font(16px, $weight: 500)
        text-align: left
        text-align-last: left
        text-transform: uppercase

      a:hover
        color: $pri1

      hr
        border-color: rgba(255, 255, 255, .15)
        margin-top: 15px
        margin-bottom: 15px

      .phone-nubmer
        +font(20px, $weight: 500)
        text-align: center
        text-align-last: center
        text-decoration: none !important

//
// Header with back button and logo
//

@media (max-width: 999px)
  .header.head-back .logotype
    float: right

@media (min-width: 1000px)
  .header.head-back .logotype
    margin: 0 auto

.header.head-back
  .back-link
    +font
    +center(ver)
    color: #fff

    span
      +font(16px, 19px, 500)
      +inline(middle)
      height: 19px
      margin-right: 3px
      text-transform: uppercase
      color: #fff
      svg,
      svg path
        fill: #fff

    &:hover
      span
        color: $pri1
        svg,
        svg path
          fill: $pri1

    span,
    span svg,
    span svg path
      transition: all .3s ease-in-out

//
// Header with logo (center)
//

.header.head-logo .logotype
  margin: 0 auto

//
// Header block
//

.header-block
  background: url('') no-repeat center top
  background-size: cover

  .title,
  .description
    margin: 0 auto
    padding: 10px 0 20px 0
    text-align: center
    text-align-last: center
    text-transform: uppercase
    color: #fff
    text-shadow: 0 0 15px rgba(0, 0, 0, .05)

  .title
    +font(42px, 60px, 500, 'Rubik')

  .description
    +font(14px, 16px, 500, 'Rubik')
    width: 300px
