//
// Background Blackout
//

.blackout
  +size($box: 100%)
  +pos($p: fixed, $t: 0, $r: 0, $b: 0, $l: 0)
  z-index: 900
  padding: 10px
  background: rgba(0, 0, 0, .7)

//
// Window Popup
//

.window
  z-index: 901
  box-shadow: 0 0 135px 5px rgba(0, 0, 0, .8)
  padding: 30px
  background: #fff

@media (max-height: 649px)
  .window
    +size($w: 100%, $h: auto, $h-max: 100%)
    position: static
    overflow-y: scroll

@media (min-height: 650px)
  .window
    +size(340px, auto)
    +center

//
// Data List
//

.window .data-list
  margin-bottom: 20px
  div
    +font
    +margin(bottom, 10px)
    text-align: justify
    text-align-last: left
    span
      +font(13px, 16px)
    .title
      margin-right: 5px
      font-weight: 500
