<div class="row" ng-controller="settings">
  <div class="col-lg-offset-1 col-lg-9 table-view">
    <div class="title">Consequatur quisquam omnis voluptatum aliquam corporis doloremque deserunt reiciendis optio veniam laboriosam voluptate similique a, dignissimos officiis, rem voluptatem iste maxime commodi porro. Dolore eum aliquam molestias modi, officiis saepe. Voluptatem repellat veritatis, a pariatur debitis numquam inventore quis! Laborum blanditiis voluptas tempore perspiciatis aspernatur qui numquam illo vel ex ipsa! Possimus ullam minima inventore itaque quibusdam, ut laudantium rem ipsam.</div>
    <div class="table">
      <table>
        <thead>
        <tr>
          <td>Setting Name</td>
          <td>Value</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{data.paramName}}</td>
          <td>
            <label><input type="radio" ng-model="data.paramValue" value="true"> Yes</label>
            <label><input type="radio" ng-model="data.paramValue" value="false"> No</label>
          </td>
          <td><input type="submit" value="Update" ng-click="changeState()"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>